[2015-05-06 09:38] mariobehling opened #1 "Introducing Scrum"
Please document what different scrum questions and varieties exist and note down the translation into your mother tongue here.

[2015-05-06 09:44] mariobehling opened #2 "Please propose a process for testing"
How should we test the app? Currently, I see, that I receive a message "Done", but then it does not work or is wrong, e.g. instead of May 14, I see May 13, May 14, May 15 in the app. These are small things and should be first tested by the developer. How do you suggest to improve the testing?

[2015-05-06 09:48] mananwason commented on #2
I'm sorry @mariobehling , I didn't know that the event is only on the 14th, hence the mistake.
One thing we can do for testing is inserting screenshots before committing changes, so that everyone else can point out mistakes, if any.

[2015-05-06 09:56] mariobehling commented on #2
@rafalkowalski @championswimmer How can we keep up the speed and quality? What are your suggestions?

[2015-05-06 11:10] championswimmer commented on #2
Partly can be helped with setting up Travis. It checks the basic build
errors, if any, and also generates apks on tags, so everybody can download
and check.

For reference check https://github.com/teamOSC/LearnHut_android/releases
(and this is the travis config
https://github.com/teamOSC/LearnHut_android/blob/master/.travis.yml)

[2015-05-06 11:14] championswimmer commented on #1
I do not have a lot of experience with Scrum, the only place I interned, had a daily standup where we answered the following questions :

1. What did you work on today ?
2. What roadblocks you faced if any ? Would you like your teammates to help in any of them ?
3. How much of your initial target for the day you could finish ?
4. What do you plan to do tomorrow ?

P.S. English is my first language

[2015-05-06 11:18] mariobehling commented on #1
Thanks! Good input. @rafalkowalski How about you?

[2015-05-06 11:20] mariobehling commented on #2
@championswimmer Could you help to get started with travis for the OpenTechSummit app, please?

[2015-05-06 11:54] championswimmer commented on #2
Sure

[2015-05-06 12:13] championswimmer commented on #2
Done, every push will be tested by travis now. The build status badge is placed in README.

Also to generate release apk, we need to make a tag. Remember to push tag first, before pushing branch.

[code]

[2015-05-06 19:44] leto commented on #1
I have been using scrum in the industry for about 8 years. It boils down to answer 3 questions:

1) What have you done yesterday (since the last update)?
2) What are you working on today (or until next update) ?
3) What is blocking or preventing you from working? i.e. what do you need help with?

There is no time estimating involved, which is a different activity.

Please let me know how I can hel

[2015-05-06 19:48] rafalkowalski commented on #1
I use scrum every day, we daily discuss about  "What I have done yesterday", "What I'm going to do today", "What are the obstacles?", "Do I need help from someone?", and weekly "what I've done over the week?" , "What enjoyed me at?" and "Summary of the work of the whole team".

[2015-05-06 20:08] rafalkowalski commented on #2
I think it's good idea to make tasks in different branch. Branch should be named as issue(rp-1). Every person after finishing issue should assign person who will be responsible for review code. After positive review, branch can be merged with master. I assume that everyone ought to check new functionality on his own  before sending it to reviewer(simple cases). Besides every function should be cov

[2015-05-06 20:22] leto commented on #2
Yes, each feature should get it's own branch. Feel free to give the branches more intuitive names that include the issue number, like "issue15/fix_json" so it is clear from the branch name what it is for.

There a a few different kinds of tests. We can benefit from unit tests on the low-level functions, integration tests for the API and acceptance tests that are higher level and verify that a feat

[2015-05-07 03:43] mariobehling opened #3 "What is the best way to store event data? What standards and formats exist, e.g. ical, xml, json etc.?"

[2015-05-07 03:45] mariobehling opened #4 "How can we generate a generic app, that can be used for different events?"
The idea is to have a basic app and fill the app with event data. Apart from that the app should have its own logo, color scheme and twitter wall generated through loklak. How can we achieve this goal?

[2015-05-07 03:52] mariobehling opened #5 "Google forms, websites, alternatives - What options do we have to collect event data?"
To collect data for events, we are using Google forms. This is a convenient solution, but we are currently not able to create multiple relationships, e.g. one speaker is doing to several talks or one talk has several speakers. Also in Google forms there is no way to have fields like "add more speakers".

Is there a way to handle this, e.g. a plugin for Google docs? What other options exist Limesur

[2015-05-07 04:00] batraabhishek commented on #4
Are you looking forward to a native app or an Android app?

*Sent via a really tiny keyboard - please excuse the brevity of the message
On 07-May-2015 9:15 am, "Mario Behling" <notifications@github.com> wrote:

[2015-05-07 04:02] mariobehling commented on #4
At FOSSASIA many people also suggested a web app. There are pros and cons. What is your preference? What do you suggest?

[2015-05-07 04:07] mananwason commented on #4
@mariobehling I think the best idea would be to host a json api online because it gives us flexibility to change the json data provided by google sheets. So, we can take data in sheets and change the json data provided by these sheets.

[2015-05-07 04:13] mananwason commented on #5
@mariobehling We can have 2 json api's, one with the data where we have 2 speakers and one with data where we have 1 speaker or we can just have one json array with objects for multiple speakers.

[2015-05-07 04:17] creativepsyco commented on #4
The native app should have a fixed schema defined by JSON API. The API may provide just JSON files. There should be an adapter script which will convert the data from Google Spreadsheets (or a host of other data sources) into JSON format. Probably can use a cron job to trigger the update of the json file or perhaps it can be done manually. The app can sync these files and update at regular interva

[2015-05-07 04:32] creativepsyco commented on #5
I believe once the schema is finalised we can create a bunch of scripts to generate JSON from which ever data source we choose. For Google Forms, you can perhaps decide a number of maximum speakers allowed. And some how hide, the unfilled ones. Don't know if that is possible. I have some experience with generation of data from Google Sheets.

[2015-05-07 04:33] mananwason commented on #1
I also used scrum when I interned earlier. They gave me a window of 2 days. Every alternate day, I had to give them information about I had done in the last 2 days with screenshots of my work and what do I have to do in the next 2 days with a brief explanation.
I also mentioned any issues I faced during this period and what did I do to solve them.

[2015-05-07 04:40] mananwason commented on #5
@creativepsyco What about if we just set a null field for 2nd speakers and  use it wherever needed.

[2015-05-07 04:55] championswimmer commented on #3
Imo, best way to store data would be json.

Ideally, for static data based apps, I prefer keeping a json in the assets
folder from which the app loads. If there is network connectivity app
checks server for newer version of json, and if found, downloads and shows
data from it.
 On May 7, 2015 9:13 AM, "Mario Behling" <notifications@github.com> wrote:

[2015-05-07 04:57] championswimmer commented on #4
Yeah creating an API which defines all the data, color scheme etc looks
like the best way forward. Maximum code reusability.
On May 7, 2015 9:47 AM, "Mohit Kanwal" <notifications@github.com> wrote:

[2015-05-07 05:01] championswimmer commented on #5
If we finalise the json schema, wont be just most convenient if we write a
small php/node/python server-side form that generates the json?
On May 7, 2015 10:10 AM, "Manan Wason" <notifications@github.com> wrote:

[2015-05-07 05:28] mariobehling commented on #5
At the moment we are also using JSON, that is generated from the google spreadsheet. @batraabhishek could you provide more info how this works, please?

@championswimmer Could you check, if there are any standards for JSON etc., that events using already? re:publica has its data here http://data.re-publica.de/data/ and there is this project on github https://github.com/opendatacity/re-data

[2015-05-07 06:25] creativepsyco commented on #5
@championswimmer Yes it would be easy but the Google document doesn't change much, so I would recommend generating the json from any data source separate from the backend. The backend can be a simple sinatra app that serves static JSON files.

[2015-05-07 06:31] creativepsyco commented on #3
Here's the Google Format for their IO 2014 application: https://github.com/google/iosched/blob/master/doc/SYNC.md Mostly a collection of several different entities `speaker`, `session`, `company`, `map`, `category`, `tag` etc

[2015-05-07 08:48] rafalkowalski commented on #3
I've worked only with JSON, so I think it's good idea to store data as json.

[2015-05-07 09:03] championswimmer commented on #5
I meant in the way of creating a dashboard that the event organisers can
use to update their event details.
It'd store the data as a json (exposing the endpoint for the app), and also
show human readable + editable form for the event organiser.

=======================================
  Arnav Gupta (championswimmer)
  LinkedIn <http://in.linkedin.com/in/arnavgupta/> | Web
<http://championswimmer.i

[2015-05-07 09:07] mananwason commented on #5
This sounds like a good idea @championswimmer but how'd it be different from google forms?

[2015-05-07 09:09] rafalkowalski commented on #5
@creativepsyco I think Sinatra or Ruby on Rails app it would be easy to create.

[2015-05-07 09:21] championswimmer commented on #5
@mananwason, control and flexibility over it. the main reason we started
discussing this. Google forms wont allow for adding a speaker, or other
such manipulations that do not exactly conform to a spreadsheet schema

=======================================
  Arnav Gupta (championswimmer)
  LinkedIn <http://in.linkedin.com/in/arnavgupta/> | Web
<http://championswimmer.in> | Blog <http://blog.champi

[2015-05-07 09:23] mananwason commented on #5
Oh sorry @championswimmer I misinterpreted earlier

[2015-05-07 09:32] creativepsyco commented on #5
@championswimmer The problem with creating a full-fledged event management application is that of maintenance. There will be a requirement to do testing, monitoring, access control, audit logs, scaling etc which I don't think anyone has the time for. I would aim for something that works, but can be replaced in the future. Abstracting away the implementation details (whether the backend is a fully

[2015-05-07 11:01] mariobehling commented on #5
@creativepsyco @championswimmer Yes, agree, we need a modular solution. We have some man power here, but abstracting also offers the possibility that other systems can implement the same data schema. So, we are advancing to the question: What data schema should we use?

[2015-05-07 11:49] Orbiter opened #6 "Twitterwall integration"
Mario suggested (https://github.com/fossasia/open-event/issues/4)  to integrate a Twitterwall, which presents latest tweets to the event. We discussed various places where the wall may appear (i.e. at a welcome screen, below a single event view or as spcial 'event wall' view). I would like to point out, how the tweet timeline data can be retrieved.

- There will be library, provided by the loklak

[2015-05-07 11:54] Orbiter commented on #4
for the proposed twitter wall, I described the process and a possible API usage in https://github.com/fossasia/open-event/issues/6

[2015-05-07 18:22] championswimmer commented on #4
So, to go back to square 1 and redraw the basic plan in a little more
detail, what will be the requirements of the app. Based on current apps we
are working on.

Here is a basic structure I can see.

no ?)

 ------- details on clicking

 -------- details on clicking

 -------- goto website on clicking

 ------- internal layout, if avaialble,
 ------- directions to location

 ------- auto-update da

[2015-05-07 19:59] leto commented on #4
I agree with @mananwason and @creativepsyco, so we have a clear way forward in terms of implementation. I suggest we focus solely on *features* right now, units of functionality, and worry about layout and UI optimizations when all implementation and functionality is solid. I will create Github Milestones for each unit of functionality.

[2015-05-07 20:11] leto commented on #4
Here are all the milestones: https://github.com/fossasia/open-event/milestones

As we create issues for each small bit of functionality, we can organize those into each milestone.

[2015-05-07 20:21] leto opened #7 "Define JSON URL the app uses"
We can have the app use the JSON file directly from Github, and we need to define at least a DEV JSON file and a PRODUCTION JSON file, where we test stuff out on the DEV JSON and then push out vetted changes to the PRODUCTION JSON file, so we don't break everyone's experience using the app.

I propose a ```json/``` directory with a ```dev.json``` and ```prod.json``` in the root directory of each e

[2015-05-07 20:25] championswimmer opened #8 "create a project on code.google.com for Google Maps API"

[2015-05-07 20:27] championswimmer commented on #8
Created the project. Right now myself and @mariobehling are owners (sent an invite to him to be owner).
Others please mail me your Google/Gmail account id to championswimmer@gmail.com and I'll add you.

[2015-05-07 20:27] #8 closed

[2015-05-07 20:31] championswimmer commented on #7
Sounds good to me.

Also, I was thinking the app should have a json file in it's assets folder too ? So that it comes prepackaged with some data (even if it's some days old - depending on when it was last updated to Play Store), for people opening it first time without internet connection.

[2015-05-07 20:40] mananwason commented on #8
Hi @championswimmer why do we need this?

[2015-05-07 20:47] mananwason commented on #7
@leto I think this is a good idea but I am not sure how would we check if it is a dev or a user. Maybe if we implement google login and for the email id of devs we use dev.json. what are your views @leto

[2015-05-07 20:50] leto commented on #7
@championswimmer yes, the APK should come seeded with the latest JSON and only check for updates. @mananwason I think the best way to solve that is have the ability to use a custom JSON URL in the app settings. It will be very useful in the future and allow devs to choose different JSON URLs for testing the live app against various JSON files.

[2015-05-07 20:50] mananwason commented on #7
@championswimmer I don't think that's useful if we need to change json file frequently and even if we don't change it, there is no point in having stale data.

[2015-05-07 20:52] leto commented on #7
At first, let's use these assumptions:

1) Cache the latest JSON for 1 day up until 3 days before the event
2) Start caching the latest JSON for 3 hrs until the day(s) of the event
3)  Only cache the latest JSON for 1hr or less during the event
4) After the event, go back to once a day for simplicity

[2015-05-07 20:53] leto commented on #7
So the app needs to have a configurable setting for the maximum time since the last JSON update and then a function which downloads the latest JSON if the current JSON is too old.

[2015-05-07 20:55] leto commented on #7
The app must always show the current version of the JSON, *especially* while downloading the newest version. The FOSSAsia app had a bug where if the update failed, it wiped out all the data and you couldn't view the current JSON data while it was updating.

The latest JSON failing to update should be expected and it is not considered a failure. It should be retried a few times before warning the u

[2015-05-07 21:04] mananwason commented on #7
@leto I can start building this but all these apps, have a limitation, datadownload function doesn't download the new data again and also the data from database is cleared everyrime app is started. So, we can just implement this function.

[2015-05-07 21:06] mananwason commented on #7
Also we can create a version number in spreadsheet, and check everytime we start the app if current version > version in app, we can download latest schedule

[2015-05-07 21:29] leto commented on #7
@mananwason yes, :+1: to having a versioned JSON document

[2015-05-07 21:30] championswimmer commented on #7
@mananwason, if user downloads app, and then opens it, when internet is not
available, then all he gets is a splashscreen, and some blank fragments.

1-2 days old data is better than that I guess.

On 8 May 2015 at 02:36, Manan Wason <notifications@github.com> wrote:

[2015-05-07 21:32] leto commented on #7
Yes, the app will be seeded with a schedule and always attempt to update it, so it will never be without a schedule.

[2015-05-07 21:33] championswimmer commented on #7
The versioning approach seems better than the hourly approach. We can just
check against the timestamp of doc update maybe ? So saves the headache of
the organisers to update json version ?

On 8 May 2015 at 02:59, Duke Leto <notifications@github.com> wrote:

[2015-05-07 21:37] championswimmer commented on #8
Google Maps API can be used only with an authorised app.
We have to make a project on Google Code for it, and submit app id and sha1 of keystore.

[2015-05-07 21:37] leto commented on #7
@championswimmer perhaps the app can do a HEAD request to the JSON document on github and see it's Modified-Time or ETag/etc ? Then it would know when it's local copy is out of date and organizers wouldn't need to care about version numbers and the app wouldn't need to keep track of version numbers, just one timestamp. Sounds like a :troph:

[2015-05-07 21:37] leto commented on #8
Google Code is shutting down. Is that documentation current?

[2015-05-07 21:39] championswimmer commented on #5
re-data looks like a good point to start form. They have done a lot of work, and they HAVE a node.js webapp to generate the json.

[2015-05-07 21:43] leto commented on #3
I think we can all agree that we are not going to drastically change our conventions and that we will be using a JSON file stored on Github. I will leave it to @mariobehling to close this.

[2015-05-07 21:52] leto commented on #4
To summarize the current conversation, we are going to have a framework for creating Android event apps that will use a JSON data file hosted on Github. With this architecture, we can easily add other native apps in the future (iOS/etc) that use the same JSON file. To more concretely answer @mariobehling's question: Each event application will have a github repository with a copy of the open-event

[2015-05-07 21:59] championswimmer commented on #7
Ok, quick summarisation then,

1. Each event app is hosted in its own github repo.
2. We have the json in app/src/main/assets/data.json. Serves two purpose, while app is built, it is packaged as the seed json, also, can be accessed via raw.github to use as the API endpoint.
3. When app is compiled in debug mode, Settings screen should have option to chose JSON URL, so we can test new data before p

[2015-05-07 22:06] championswimmer commented on #4
@leto also check https://github.com/fossasia/open-event/issues/7#issuecomment-100032924
Which is like, exactly what you wrote, just in bullet points and numbers :stuck_out_tongue_winking_eye:

[2015-05-07 22:14] leto commented on #5
I agree with @championswimmer :+1: to using the schema from re-data @mariobehling I think we need to design a database schema for our own needs. re-data requires CouchDB and NodeJS and suggests using Docker.... It seems awfully complex for what we need. I wrote a sketch of a database schema for open event while I was at FOSSAsia. I will dig it out of my notebook and create a new issue to talk abou

[2015-05-07 22:16] Orbiter commented on #4
hi @leto nice to meet you here again and work with you!
About your architecture sketch: having a github repository for each instance of the app where they are distinguished only in their configuration sounds really strange. In contrast, different apps could be created during built process by just assigning the build process a configuration vector, like a single url which points to a single json fi

[2015-05-07 23:10] leto commented on #7
@championswimmer that is a great summary. Please feel free to start implementing that in code! The bonding period is almost over and the flood gates of code need some time to open fully....

[2015-05-08 02:24] creativepsyco commented on #7
Yes! Sounds good @leto @championswimmer @mananwason! Thats what I had in mind. Great Summary! However, I don't think the app should be checking for the last commit. That would tie it to the Version Control system. To me version number sounds good enough. For Pre-loading, you can pass the JSON in the app raw asset folder or you can directly provide a SQLite Database which you can copy into the app

[2015-05-08 04:23] mananwason commented on #7
@championswimmer Nice summary but I agree with @creativepsyco. We should not check based on last commit, it can create conflicts. Version number is an easy and fool proof way. Why not use it ?

[2015-05-08 04:27] mananwason commented on #5
@leto this sounds great. It will simplify things a lot. What about using gcm based on a server to provide updates to the app?

[2015-05-08 04:32] mananwason commented on #8
@championswimmer You just need a key for maps api that's all, We have a maps api already in use in our apps and It has been set using just the key. So I don't get the point to create a project?

[2015-05-08 05:08] creativepsyco commented on #8
@mananwason the project also needs the signature of the APK as well. I think should probably have 1 single project on google API console https://code.google.com/apis/console/ and someone should manage it, and request for stuff to be done in it, I think @mariobehling can do it and add other people into the project from time to time. We should probably use the same project if we were doing OAuth2 si

[2015-05-08 06:03] mariobehling commented on #4
Hi all, I think we are at a stage where we can get fully started. Let's see some code. The way we are getting started now is great. Let's keep this agile approach and solve questions about UI etc on the way. @leto @Orbiter A goal could be to use a single URL, but for the beginning maybe different repo are useful as the app is probably changing a lot.

So, thank you all for digging into the depth h

[2015-05-08 06:03] #4 closed

[2015-05-08 06:05] #3 closed

[2015-05-08 07:12] championswimmer commented on #8
I have created the project.  Have sent Mario and Duke owner invites. To
Manan too.
On May 8, 2015 10:38 AM, "Mohit Kanwal" <notifications@github.com> wrote:

[2015-05-08 07:13] championswimmer commented on #8
The Ots15 app has the API keys.
The maps are already working on that.
On May 8, 2015 12:42 PM, championswimmer@gmail.com wrote:

[2015-05-08 07:17] batraabhishek commented on #5
Hi everyone. Sorry for the long absence. In FOSSASIA app, we are fetching data from Google Spreadsheet, Each sheet in the spreadsheet is visualised as table with first row as column and following rows as data. Google visualisation API converts the spreadsheet into JSON response.
Few drawbacks of using Google Spreadsheet:
1. No provision of constant data validation.
2. JSON returned by API cannot b

[2015-05-08 07:32] championswimmer commented on #4
One last thing, we are starting open-event with a fresh codebase?

The FOSDEM app is good reference but forking that will tie us to some
legacy codebase. For eg Froyo = 1% userbase and reducing. For Froyo many
exceptions and try catch blocks are present on FOSDEM app, we can just
start with fresh app at minSdk 14 (~91% android userbase, and increasing)
 On May 8, 2015 11:33 AM, "Mario Behling" <no

[2015-05-08 07:37] mananwason commented on #4
I second that @championswimmer. But I'm not sure if I have to start in the open-event repo. @mariobehling @leto Please suggest.

[2015-05-08 08:03] Orbiter commented on #6
The loklak library will have dependencies, jar files that you must include as well:
joda-time-2.4.jar
jackson-annotations-2.6.0.jar
jackson-core-2.6.0.jar
jackson-databind-2.6.0.jar

That means, if you are planning to choose any external library to parse json, you could consider to use jackson since that lib must be included anyway.

[2015-05-08 08:21] Orbiter opened #9 "Proper Time Zone handling"
These are code pieces where you must consider the time zone:

- the event description json must declare in which time zone the event happens
- the event description json must declare the time zone for the given event times (may be given in GMT)
- the mobile device has a time zone (conference visitors tend to come from time zones different from the event time zone)

I believe that event dates shall

[2015-05-08 08:27] batraabhishek commented on #9
@Orbiter Yup ! Even I faced issues while converting events schedule to iCal file. May be we can use something like 2013-04-12T13:38:48+02:00 ... DateTime format   with timezone. With timezone already present in DateTime for each event. We can auto convert it, while showing or setting a alarm notification for that event. Check http://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html

[2015-05-08 08:54] Orbiter commented on #9
yes, 2013-04-12T13:38:48+02:00 would be a proper time format, but people tend to write "2013-04-12", "2013-04-12 13:38" and maybe forget completely about the time zone. In loklak I use the joda library, http://joda-time.sourceforge.net/apidocs/org/joda/time/format/ISODateTimeFormat.html dateOptionalTimeParser() handles them all.

Furthermore, we need a representation of the time zone only. I use t

[2015-05-08 09:25] mariobehling commented on #4
Great! I think, we figured out that there are different parts to the project. I am not yet completely clear, who will mainly work on what. We can find out together. As a next step we decided to create different repos for the sub-projects.
* open-event-orga-server (substituting Google form, google docs part and generating JSON files)
* open-event-orga-webclient (frontend parts)
* open-event-webapp

[2015-05-08 09:28] mariobehling commented on #4
@leto So, we keep this repo to define the milestones etc. for the overall project here (https://github.com/fossasia/open-event/milestones)? But, specific detaild goals we define in the specific repos. Is this the best way, we can work?

[2015-05-08 11:28] championswimmer commented on #4
I thought maybe we could have done orga-server and orga-webcliemt in the
same place together.  But I'm good with this to. More modularity always
better.

I'll quickly fill up the respective READMEs today.

Thanks
On May 8, 2015 2:58 PM, "Mario Behling" <notifications@github.com> wrote:

[2015-05-08 15:55] leto commented on #7
Yes, let's change "App checks last commit to app/src/main/assets/data.json file path, calculates freshness of timestamp," to "App checks freshness of timestamp" and use whichever method is simple to implement and works at least 80% of the time.

[2015-05-08 16:04] leto commented on #4
@mariobehling yes, those 4 repositories sound like a good start. And I like keeping overall project milestones in open-event. Let's sally forth! :bicyclist: :bicyclist: :bicyclist:

[2015-05-08 16:26] championswimmer opened #11 "define the sessions table completely"

[2015-05-08 16:27] championswimmer opened #12 "define the speakers table completely"

[2015-05-08 16:27] championswimmer opened #13 "define the microlocation table completely"

[2015-05-09 16:40] mariobehling opened #14 "How can we have the app in different languages?"
How can we work with translators? Where is the best place to work on xml translations? What options do we have?

[2015-05-09 16:54] mananwason commented on #14
@mariobehling We need to create different String resources for in app values and for data we can use string locale but It's not advisable. Best Thing would be to maintain separate sheets and we can very easily translate each cell in the sheets as well using =GoogleTranslate("text", "source language","target language")

[2015-05-09 17:42] creativepsyco commented on #14
Transifex is one tool that can help. Its free for open source projects and other people can help you translate application specific strings. For data translations, you will definitely need to maintain different JSON files which can be retrieved using a specific parameter in the HTTP query string. https://www.transifex.com/

[2015-05-09 18:21] rafalkowalski commented on #14
Maybe it is good idea https://code.google.com/p/google-api-translate-java/?

[2015-05-09 18:36] championswimmer commented on #14
My experience with crowdin has been very good. Because somehow for single
words or small phrases, Google translate doesn't do a good job.

Given we can get some friends, fossasia members (who are from different
languages...  And maybe this way also get the larger community involved)
etc to help us out, crowdin will really good.
On May 9, 2015 10:10 PM, "Mario Behling" <notifications@github.com> wr

[2015-05-11 22:17] #11 closed

[2015-05-11 22:17] #13 closed

[2015-05-17 05:13] mananwason opened #15 "Lack of clarity in planning for the app"
I believe that a clear plan of features has not been put up anywhere. So I suggest we make a plan on the features we want in the final app and add them in the respective repo as tasks. This will allow us to take up those tasks and complete them in an orderly manner, thus increasing efficiency.
Please give your inputs on this. @mariobehling @leto @rafalkowalski @championswimmer

[2015-05-17 06:09] championswimmer commented on #15
Yes that's right. I was hence making only the data related parts, and had
not started with the GUI side as we need consensus on that.

One basic requirement we need to keep in mind is, any data, color, logo
related to the event should not be hardcoded or hard to swap during run or
build.
On May 17, 2015 10:43 AM, "Manan Wason" <notifications@github.com> wrote:

[2015-05-17 10:46] mananwason commented on #15
I agree @championswimmer but Shouldn't we have a structure on how the server will hold the info and how it would provide it to json format to work on data related parts as well.

[2015-05-17 11:17] mariobehling opened #16 "Put together a Feature List for all components"

[2015-05-17 11:18] mariobehling commented on #15
Hi, please let's keep the language here positive. Instead of "lack of clarity" I would have preferred to see an issue here from you "Put together a Feature List for all components" or something similar. Please understand, that this is part of your project to propose features and list them. For the beginning the idea is, that you work with the existing app and learn about the requirements.

Now, th

[2015-05-17 11:18] #15 closed

[2015-05-17 11:28] mananwason commented on #15
Hi Sorry for the negativity. I didn't quite realise it. I understand that proposing and listing the features is  part of our project. I just wanted to get the process started by listing it as an issue and collaborating with everyone to get the best list of features for the apps.
I would like to suggest that instead of maintaining a file on github, we should use gdocs and put the final list of feat

[2015-05-17 11:38] mariobehling commented on #15
Hi Manan, let's not make it complicated. We can change an md at any time and it is easy to reference stuff within Github. I do not see the need for another thing yet. How about we start to list some features first and if we need another service, we can do so at any time.

[2015-05-17 12:31] mananwason commented on #15
Sure Mario, I'll get right on it.

[2015-05-17 12:34] mananwason commented on #1
@mariobehling @leto We should get a common consensus on the format of the scrum, so that we can get started by tomorrow.

[2015-05-17 12:38] mariobehling commented on #1
Please use the three scrum questions. We can always redefine later. The important thing is, let's get started.

[2015-05-17 12:38] #1 closed

[2015-05-17 12:39] mananwason commented on #1
Sure :smiley:

[2015-05-17 12:45] mariobehling opened #17 "Install Frab and research its features and options, compare to Open Event ideas and provide ideas and feedback"
http://frab.github.io/frab/
https://github.com/frab/frab

[2015-05-17 14:17] rafalkowalski commented on #17
I deployed frab to Heroku.
http://frab-test.herokuapp.com/
login: admin@example.org
password: test123

I will provide more info when I check it, because this app looks wide.

[2015-05-17 16:11] championswimmer commented on #15
@mananwason
The structure for how server will hold data and how the JSON api will work
is infact already decided and a bit of preliminary work has been done.
There's much left, but we have some pointers to follow for the time being.
General discussion about planning of the project was taking place here
https://gitter.im/fossasia/open-event

And the corresponding repo
https://github.com/fossasia/op

[2015-05-17 16:14] leto commented on #17
This looks like an interesting project to study to see what features they have and what limitations exist. It seems to be a re-implementation of pentabarf in Ruby-on-Rails and does not have a release yet. Their schema is here: https://github.com/frab/frab/blob/master/db/schema.rb Please comment on how it differs from the re-public schema we are planning on using.

[2015-05-17 16:15] championswimmer commented on #17
Since we are discussing alternate frameworks with similar goals as
open-event, also check out talkfunnel by HasGeek

https://talkfunnel.com/

HasGeek is a major organisation for tech events in India.
funnel is open source as well (written in python), and has a json API
endpoint
https://github.com/hasgeek/funnel

Funnel does not actually do everything that we aim to, but it does one
important thing

[2015-05-17 16:16] mananwason commented on #15
Sure @championswimmer, I have seen the repos you mentioned, but I am not sure how to enter data and retrieve it. This is just the database I presume.

[2015-05-17 16:17] championswimmer opened #18 "check talkfunnel by hasgeek, and discuss if we can include that in the orga server or implement similar functionality"
Since we are discussing alternate frameworks with similar goals as open-event, also check out talkfunnel by HasGeek

https://talkfunnel.com/

HasGeek is a major organisation for tech events in India.
funnel is open source as well (written in python), and has a json API endpoint
https://github.com/hasgeek/funnel

Funnel does not actually do everything that we aim to, but it does one important thing

[2015-05-17 16:17] leto commented on #15
@mananwason create an issue for each task and please assign them each to a milestone: https://github.com/fossasia/open-event/milestones When reporting scrum updates, reference which milestones you are working and how close they are to completion

[2015-05-17 16:18] championswimmer commented on #18
I think, maybe if we can achive our preliminary project goals by mid-term, we can look at including funnel functionality on orga server.
What say guys ?

[2015-05-17 16:20] leto commented on #9
TZ-aware datetimes should be stored internally as UTC offsets and rendered to the user in whichever format they would like. Anything else leads to insanity. And I completely agree with @Orbiter's recommendations.

[2015-05-17 16:21] championswimmer commented on #15
There are 2 ways, down the repo, run install.sh to get the deps, and then
$ python run.py

to set it up locally.

Or, to make things easy for all of us, I am hosting it on my website too
http://springboard.championswimmer.in:8080/admin/

One slight caveat, on my server, it might not be latest always. I manually
pull the changes from github. So if anyone else makes some changes to
github, it isn't

[2015-05-17 16:23] championswimmer commented on #15
P.S. The api endpoints look like this

http://springboard.championswimmer.in:8080/get/api/v1/sessions

On 17 May 2015 at 21:47, Duke Leto <notifications@github.com> wrote:

[2015-05-17 16:24] mananwason commented on #15
This is good work !! What platform did you all use to build this?

[2015-05-17 16:26] championswimmer commented on #9
No one will enter the string by hand. On the flask-admin console we have a
date time picker. Similarly, in the app I have written a ISO8601date.java
class that converts ISO8601 strings to Calendar objects and vice versa.

A full ISO8601 string in the yyyy-MM-ddTHH:mm:ssZ format is the only way to
save times in "absolute" manner. i.e. the string completely defines a time,
without being dependent on

[2015-05-17 16:27] rafalkowalski commented on #15
Flask mini-framework

http://flask.pocoo.org/

[2015-05-17 16:27] leto commented on #18
@championswimmer we already have a plan for using the schema that gives us interoperability. Let's not change plans mid-stream. I have assigned this issue to @rafalkowalski so he can give us a quick summary of what talkfunnel can do and if it has ideas/features worth borrowing. Don't spend more than 1 hour on this task. Add your findings as a comment here.

[2015-05-17 16:28] championswimmer commented on #9
I mean to summarise

1. In the server, the organiser will use a picker to enter year, month,
time from a spinner, so he won't commit mistake.
2. In the database/json time is always in ISO8601 format
3. In app, date is shown as per the user's language/region preference. We
will show it according to his locale. So americans get 5/15 for 15th May,
Indians get 15/5 for 15th May.

I hope that sounds li

[2015-05-17 16:30] leto commented on #15
@championswimmer awesome work! Is the code that runs that committed and pushed?

[2015-05-17 16:30] championswimmer commented on #18
I wasn't refering to changing schema. I was wondering if we would like to
add the functionality of a talk proposal upvote/downvote system in our
project (maybe in future).
If/when we implement it, we'll do it with a schema that is compatible with
our existing one

On 17 May 2015 at 21:57, Duke Leto <notifications@github.com> wrote:

[2015-05-17 16:31] leto commented on #18
@championswimmer upvote/downvote sounds nice, but it is not a core feature. Let's implement core features first. That sounds like a great addition to add after GSoC is over :smiling_imp:

[2015-05-17 16:31] championswimmer commented on #15
I try to keep it always updated. But it isn't auto-updated right now. I
manually pull.
I'll make it auto. Should not take me more than an hour at max. I have make
github webhooks before :)

On 17 May 2015 at 22:00, Duke Leto <notifications@github.com> wrote:

[2015-05-18 14:44] rafalkowalski commented on #17
I prepared database scheme of Frab app.
http://i.imgur.com/ui0Xh5F.jpg
Based on it I will describe differences in google doc.

[2015-05-18 16:45] leto commented on #17
@rafalkowalski in general, putting things on Github is preferred to google docs

[2015-05-18 16:47] rafalkowalski commented on #17
Ok, so I will add it here

[2015-05-18 17:38] rafalkowalski commented on #17
@leto Features of Frab App

1. Manage multiple conferences
2. You can assign people to event.
3. You can configure tracks, days, rooms
4. Drag&drop events onto your schedule
5. You can rate or add a comment to event
6. You can publish schedule of conference(Web app, pdf, html)
7. Checking conflicts between events
8. Reusing people details to another conference
9. Changing colors for event
10. Addi

[2015-05-18 18:33] leto commented on #17
@rafalkowalski the definition of our MVP is to implement every milestone listed on https://github.com/fossasia/open-event/milestones . The dates are not correct. Please change them to dates that you think are reasonable and fit inside the GSoC timelines

[2015-05-19 07:21] rafalkowalski commented on #18
@championswimmer I have problem with installation funnel. Could you help me with it?

[2015-05-19 07:26] rafalkowalski commented on #18
We can use such a view https://rootconf.talkfunnel.com/2015/schedule to present schedule. It looks great :)

[2015-05-20 16:23] mariobehling opened #19 "Project Planning - Org Server, Web app, Android App"
Based on the work we have done so far, we have come up with a way to separate projects we would like you to work on now. I have tried to sum up different discussions. Please have a look at the following and give feedback and input. @leto Please confirm the following separation as well.

Project 1 (Rafal): Python Backend/Frontend -- https://github.com/fossasia/open-event-orga-server -- Open Event O

[2015-05-20 16:39] rafalkowalski commented on #19
Was there any discussion about Opent Event Organiser Web Client? Or Could someone tell me about requirements in this project?

[2015-05-20 16:50] mariobehling commented on #19
@rafalkowalski https://github.com/fossasia/open-event/blob/master/README.md

[2015-05-20 17:03] leto commented on #19
Yes, I think this is a good plan moving forward @mariobehling . Since all the GSoC projects are really a "constellation" of projects that interact, we expect that there will be a lot of communication across the projects, such as reporting bugs, giving code reviews and testing releases.

The project assignments above are what your GSoC mid-term and final will be based on, so make sure you are worki

[2015-05-20 19:50] championswimmer commented on #19
Do we need the webclient?  Because the orga server as of now is providing a
front end already.
On May 20, 2015 10:33 PM, "Duke Leto" <notifications@github.com> wrote:

[2015-05-20 21:21] mariobehling commented on #19
Good question. @leto How about the separate repo for the web client?

@championswimmer: I made a mistake in the first post in this issue. The repo for your project is as follows.

Project 2 (championswimmer): Web App -- https://github.com/fossasia/open-event-webapp

Sorry for the confusion. Corrected it above as well.

[2015-05-21 05:08] leto commented on #19
@mariobehling Yes, since the orga-server repo will have a Flask-Admin front-end, I don't think we will need another repo for the web client.

[2015-05-21 05:23] championswimmer commented on #19
I have a suggestion/request here. Right now the API is volatile, and both
api and schema might change rapidly. Also the Android app has no
frontend/gui at all. We need to crystallise the features for gui, and then
we'll reach at an MVP stage where we have a stable v1 api, and a basic idea
of how the app looks and functions.
So could I work with Manan, on the App, so that we quickly reach this stag

[2015-05-21 06:06] mariobehling opened #20 "Research existing mobile event apps and compare them"
What mobile event apps exist on the app markets, github etc.? What are their advantages and disadvantages? Please provide links and screenshots.

[2015-05-21 06:08] mariobehling commented on #19
@championswimmer Interesting proposal. In order to better understand which way we can head with the mobile apps, it would be good to do some more research and see what other apps are offering. I created a separate issue for this. Please help https://github.com/fossasia/open-event/issues/20

[2015-05-21 06:19] mananwason commented on #20
@mariobehling The best app has to be hands down the google io app. Here is the source code https://github.com/google/iosched
Take a look at it from the play store link given above. It's the 2015 app on the store.

[2015-05-21 06:40] mariobehling commented on #20
@mananwason Thanks.
If you say "the best app", with which other apps did you compare? Please list other apps as well. Cheers.

[2015-05-21 07:06] rafalkowalski commented on #19
@championswimmer Maybe I can help you somehow in android or webapp?

[2015-05-21 07:19] mariobehling commented on #19
@championswimmer @rafalkowalski Great spirit of collaboration! We definitely want cooperation and support, but we also need each part to function and we need one of you to take the main responsibility for each area. So, yes, let's work together on different areas, but please help to get each component in place.

Please create a list of features for the components here now: https://github.com/fossa

[2015-05-21 07:32] rafalkowalski commented on #19
@mariobehling I think we need code review. Because each of us have different experience, so it would be nice to share experience how to improve parts of code.

[2015-05-21 07:35] mariobehling commented on #19
sure, code review is definitely necessary. Duke and Mohit are already supporting us here. For now the focus is to get the feature list. And then based on this llist create issues. After we have a list of tasks, it will be more structured for everyone. Please help to get the feature list ready.

[2015-05-21 07:46] mananwason commented on #20
@mariobehling I have seen 2-3 apps other than io and fosdem/fossasia. They are not so good.
One is giggity. Others:-linuxday Cagliari and some event guide apps like london official events guide. So bottom line is Google's io app is the best of the lot. I would report if I see some other apps which are good.
Sorry, I can't provide you with links, I am on a mobile device. Thanks.

[2015-05-21 08:03] rafalkowalski commented on #20
I found disccussion about events app:
http://www.quora.com/Mobile-Applications/What-are-the-best-mobile-event-apps-for-conferences-and-corporate-events

Guidbook looks nice: https://guidebook.com/

[2015-05-21 08:07] mananwason commented on #20
Nice work @rafalkowalski. This list looks good

[2015-05-21 19:07] leto commented on #19
@rafalkowalski if you want a code review, send an email to the list with a link to Github and ask direct and detailed questions.

[2015-05-22 18:15] championswimmer opened #21 "add licenses to respective projects"
@mariobehling What license shoule we use ?

[2015-05-22 18:56] leto commented on #21
Let's use GPLv3, which allows us to retain the most rights. We can then grant anyone who asks more rights, on a case-by-case basis.

[2015-05-23 08:49] #5 closed

[2015-05-23 08:49] #16 closed

[2015-05-23 08:57] #2 closed

[2015-05-23 08:57] #21 closed

[2015-05-23 09:02] mariobehling opened #22 "Feature List and Project Plan for Orga Backend/Frontend (2015)"
Please define the following for your project
a) Feature List (add it to Feature.md)
b) Project Plan with possible milestones (Which features will be implemented at what time)
Proposed Milestones
* Milestone 1, Due by June 10, 2015
* Milestone 2, Due by June 26, 2015
* Milestone 3, Due by July 25, 2015
* Milestone 4, Due by August 21, 2015

Also refer to #19

[2015-05-23 09:03] mariobehling opened #23 "Feature List and Project Plan for Android App (2015)"
Please define the following for your project
a) Feature List (add it to Feature.md)
b) Project Plan with possible milestones (Which features will be implemented at what time)
c) Technologies used

Proposed Milestones
* Milestone 1, Due by June 10, 2015
* Milestone 2, Due by June 26, 2015
* Milestone 3, Due by July 25, 2015
* Milestone 4, Due by August 21, 2015

Also refer to https://github.com/fos

[2015-05-23 09:04] mariobehling opened #24 "Feature List and Project Plan for Web App (2015)"
Please define the following for your project
a) Feature List (add it to Feature.md)
b) Project Plan with possible milestones (Which features will be implemented at what time)
c) Technologies used

Proposed Milestones
* Milestone 1, Due by June 10, 2015
* Milestone 2, Due by June 26, 2015
* Milestone 3, Due by July 25, 2015
* Milestone 4, Due by August 21, 2015

Also refer to https://github.com/fos

[2015-05-23 09:19] mananwason opened #25 "How can we change colors from data retrieved from orga server ?"
I searched on the internet, but couldn't find a satisfactory answer, Please suggest @championswimmer  if we can even do this because most of the answers online suggest otherwise.

[2015-05-23 09:24] leto commented on #25
What does this mean? Which repo and code are you talking about?

Can you point to exact lines of code that you tried and does not work?

Did you try to write some code? Please be more specific when opening issues and link to references.

[2015-05-23 09:34] mananwason commented on #25
@leto I was trying to get the android app theme colors from the orga server and then set it dynamically in the java code instead of in xml, so that we don't need to hardcode colors for the app. I haven't
I did write some code towards this objective but nothing worked, hence I didn't commit it .  So, I was looking for suggestions.

[2015-05-23 09:37] leto commented on #25
@mananwason in the future, commit the code that you try and then ask us why it does not work. That is how you will learn. To restart, please try some new code or commit something that you tried that may work and we will help you figure it out. That is the whole point of GSoC. For you to write code and for us to review it and help you make it better.

[2015-05-23 09:38] mariobehling commented on #25
@mananwason Which code or solution did you try, that did not work? Links to stuff that you researched? This could save others time who might come across the same difficulties.

Please be specific: What did you try exactly?

[2015-05-23 09:39] rafalkowalski commented on #25
@mananwason If something doesn't work, you can create new branch and We can see it :)

[2015-05-23 09:43] rafalkowalski commented on #25
@mananwason Maybe here, you can find a solution
http://stackoverflow.com/questions/3241729/android-dynamically-change-style-at-runtime

[2015-05-23 09:51] mananwason commented on #25
@leto @mariobehling @rafalkowalski I was saying that there was a limitation in android which doesn't allow us to change colors on runtime. I followed these links but these don't fulfil our purpose
https://teamtreehouse.com/forum/dynamically-changing-background-color-android-java
http://stackoverflow.com/questions/25815769/how-to-really-programmatically-change-primary-and-accent-color-in-android-lo

[2015-05-23 10:29] championswimmer commented on #25
Let's keep this aside for now. Dynamic changes can be done, I have
experience with it. Let's focus on getting data and showing it here and get
minimum required functionality.

Things that need to be changed for each event's app can be put in
res/values/config.xml and that xml can be generated during customisation of
the app (for now). Ideally, in the final product, yes, everything other
than packa

[2015-05-23 10:40] rafalkowalski commented on #25
@championswimmer What data should I provide you with configuration? Gui color, conference logo, event title, event email and something else?

[2015-05-23 10:42] mananwason commented on #25
I don't think logo can be acquired from api and then displayed, because it has to be fixed for the app.

[2015-05-23 10:45] mariobehling commented on #25
@rafalkowalski @mananwason If logo can be acquired from Api it would be great. Flexibility of all components is highly desired.

[2015-05-23 10:49] championswimmer commented on #25
Logo can be acquired from API, but only after first internet connection.
First time logo has to be fixed.

On 23 May 2015 at 16:15, Mario Behling <notifications@github.com> wrote:

[2015-05-23 10:54] mananwason commented on #25
@championswimmer Please see this
http://stackoverflow.com/questions/21108611/how-can-we-change-android-application-icon-dynamically-in-android

[2015-05-23 21:00] mariobehling commented on #19
@championswimmer

Yes, we also recognize this question about UI etc., but we have clearly two different projects and the web app has a high priority.

A clear feature list and well-designed mockups would be great. I had assigned https://github.com/fossasia/open-event-webapp/issues/1 to you 16 days ago and was hoping to get some info on how this web app can be designed and what technologies to use.

[2015-05-23 21:00] #19 closed

[2015-05-23 22:27] rafalkowalski commented on #22
Milestone 1
- Create App based on Flask
- Database configuration
- Prepare admin panel based on flask-admin
- Prepare Crud methods for models
  1. Session
  2. Event
  3. Sponsor
  4. Track
  5. Microlocation
  6. Speaker
- Provides Api:  Session, Event, Sponsor, Track, Microlocation, Speaker, Configuration
- help others
Milestone 2:
- Possibility to attach files(e.g. images)
- Admin Panel View im

[2015-05-24 07:38] mariobehling commented on #22
@rafalkowalski Good start. What features do you see in frab to organize events in tracks? Is this covered by crud methods? Which roles do you define?

[2015-05-24 08:00] rafalkowalski commented on #22
@mariobehling Maybe It will be good idea to have two roles(Speaker, Admin). On the main page you will have two choices to sign in. Of course both of these roles will have different permissions.

Frab have only possibility to assign event to Track via form, so it's covered by crud methods.

I like frab schedule , because you can drag&drop events. Perhaps this feature will require a lot of workload

[2015-05-24 14:55] mananwason commented on #23
Milestone 1 :
* Basic structure for the app with navigation drawer and fragments
* Data retrieval from orga server using volley
* Version checking to see if the freshness of data in database
* SQLite Database with all data retrieved from server being stored after version checking
* Data retrieved from the database and displayed in respective locations.
*  Alphabet indexing for speakers
* Map Fragm

[2015-05-24 20:26] leto commented on #23
"Fix bugs" and "Work on bugs" are not valid milestone bullet points.

[2015-05-24 20:27] leto commented on #23
Also "test the app" is not sufficiently descriptive. You will be testing it at every stage. What kinds of tests will you write at each stage? Which test suite and test framework? In general, all of your Github issues/questions/comments/emails have been lacking detail, requiring us to pry it out of you. Please add more detail, MUCH MORE DETAIL, in all your future correspondence. This will directly

[2015-05-24 20:50] mananwason commented on #23
Hi @leto Yes I would be writing tests at every stage. I am not sure what tests yet. But I am mostly certain that I'll be using junit testing for this. I am sorry about less details in the past, but I have started giving out details on what I did, and what I didn't and why I didn't do it etc. in my scrum and questions. I have been giving links as well now. Please tell me if it still lacks some kind

[2015-05-25 03:05] creativepsyco commented on #23
@mananwason Take a look here: https://github.com/fossasia/open-event-android/issues/6, Testing can be done using Espresso which facilitates writing of UI Tests. You can write unit tests for complicated pieces of code but don't write tests for simple DB related calls. The tests should carry a good purpose at the end of the day and help you catch mistakes in your code or whenever you update the code

[2015-05-25 10:42] mananwason commented on #23
@creativepsyco I'll look into expresso
Me and @championswimmer had discussed on what to use for networking and we decided to use volley only right now and afterwards create a branch with retrofit+okhttp afterwards but I think now that I should use the latter only first, then see about volley afterwards. This will help us try something new as Volley is already being used in the previous apps. Also

[2015-05-25 11:58] creativepsyco commented on #23
I can put a template for OkHttp + Retrofit in a branch if you want.

[2015-05-25 12:22] mananwason commented on #23
Please go ahead but in what ever I have researched I didn't see okhttp with retrofit used anywhere for jsonparsing and caching. This seems to be the best combo for REST based communication only. The best model I found for the work we need to do is using Volley hooked with okHttpStack.

[2015-05-25 16:37] mariobehling commented on #22
@rafalkowalski This is a focused proposal and I am eager to read more in detail in the issues you are creating in the respective repo.

How about design of the UI (mockups, wireframes)? We do not have a designer, so this needs to be part of the project as well.

Apart from that: How will you do the documentation? What are your plans here?

[2015-05-25 22:56] mariobehling commented on #23
@creativepsyco Yes, please add a template for OkHttp + Retrofit in a branch. We count on your experience here and it sounds like the most suitable solution.

[2015-05-26 15:27] mananwason opened #26 "Update the hosted server with changes made recently"
@championswimmer please update the server.

[2015-05-26 17:35] leto commented on #26
We need a better way than this. @championswimmer can you set up a cron job to update the latest changes from master? I strongly recommend creating repository on the server dedicated to this, which is separate from your dev repo on that server. Please ask specific questions about setting that up if it is not clear

[2015-05-26 19:11] championswimmer commented on #26
I'll set up the cron job. A 1 hour cron is justified I hope ?

The repos are different already, deploy dir and dev dir are separate.

[2015-05-26 19:31] leto commented on #26
@championswimmer once per minute would be better :smiling_imp:

[2015-05-26 20:10] championswimmer commented on #26
No way :D , there's stuff that runs on my server :P Limited bw, disk usage.
I'll make it 5 minutes.

On 27 May 2015 at 01:01, Duke Leto <notifications@github.com> wrote:

[2015-05-26 20:40] rafalkowalski commented on #26
@championswimmer I think , it should but maybe good idea is to create dummy data via script in python

[2015-05-27 06:53] mananwason commented on #26
@championswimmer Please make it running. I need to test the code I have written and I am just stuck here till I test it.
Thanks.

[2015-05-27 06:59] rafalkowalski commented on #26
I think everyone shoud have access to server

[2015-05-27 07:01] mariobehling commented on #26
@championswimmer @mananwason @rafalkowalski Could you discuss this on the chat? Seems like a better option.

[2015-05-27 07:03] mananwason commented on #26
+1 @rafalkowalski . I also second @leto becuase if we change data while an event is going on, 5 mins is an awfully long time. We should keep it as low as possible.

[2015-05-27 07:03] mananwason commented on #26
Sure @mariobehling

[2015-05-27 07:49] creativepsyco commented on #26
@mananwason you perhaps mock out the API implementation on the client in
Debug mode so that you don't have to depend on Server, you can hard code
JSON replies or use JSON files bundled together. See
https://github.com/square/retrofit/blob/master/samples/src/main/java/com/example/retrofit/SimpleMockService.java

On Wed, May 27, 2015 at 3:03 PM Manan Wason <notifications@github.com>
wrote:

[2015-05-27 10:51] championswimmer commented on #26
Made a 1 min cronjob

The cron does NOT delete the app.db (or else we would have a blank slate every 1 min).
There should be a button on the admin console to refresh the database. Or else whenever app.db needs deleting, I'll have to do manually via ssh.

[2015-05-27 10:52] #26 closed

[2015-05-27 10:55] championswimmer commented on #24
In light of this https://github.com/fossasia/open-event-webapp/milestones
and this https://github.com/fossasia/open-event-webapp/blob/master/README.md

can we close this issue ?

The readme and features will become more detailed as I keep working on this further

[2015-05-27 10:59] mariobehling commented on #24
@championswimmer Honestly, it would be really good you add the details here in this issue. So we all have a reference overview. Please do not close this issue until the project is finished. Continue to add additional features and changes to the plan here, please. Be inspired by Rafal: https://github.com/fossasia/open-event/issues/22

[2015-05-27 11:14] mananwason opened #27 "Can't create records due to Read only permission"
@championswimmer Please provide write permissions.

![untitled](https://cloud.githubusercontent.com/assets/10570249/7834716/aa5d7b70-048f-11e5-8ffd-555c01d338fe.jpg)

[2015-05-27 11:24] championswimmer commented on #24
Ok, I'll add the details here.

**Features**
Refer here - https://github.com/fossasia/open-event/blob/master/FEATURE.md#open-event-webapp

**Milestones**
Milestone 1, Due by June 10, 2015
 * Basic layout of webapp
 * Add views for Sessions, Speakers, Tracks,
 * Show basic data from API (title, summary etc) in a list, in above views

Milestone 2, Due by June 26, 2015
 * Finish the theme (simple, fl

[2015-05-27 11:28] #17 closed

[2015-05-27 11:32] mariobehling commented on #24
@championswimmer You are aware, that we need this app to be generic (e.g. different colors, logo etc.) to work for different events as well, correct? What way do you think works best? Can the app be generated by a script or how should the process work here?
The original idea is that people can set up the web app on their server. Is that the best solution? Or do we offer to set up the app as a serv

[2015-05-27 11:34] championswimmer commented on #27
I fixed the permission, but this error occurs now
[code]

Not sure exactly how to fix this

[2015-05-27 11:35] mananwason commented on #27
Yeah exactly, so maybe @rafalkowalski can help.

[2015-05-27 11:47] championswimmer commented on #24
I'm thinking of making a config.json file, which will contain the
replaceable portions (color codes, api endpoints etc).

And yes, best solution would be for people to host it. Ideally, it can be
hosted on a Github repo, as this will have only client side code.
I will aim to make it such that people can fork our repo, and change only
the config.json, and be able to host it via github pages. Does t

[2015-05-27 11:52] mariobehling commented on #24
@championswimmer Sounds like a good start for a plan to me. Could you add details about your idea to the milestones, please? The idea is: Every feature should be a bullet point in the milestones.

Having more info here, would also make it easier to give more input and having documentation we can go back to and look it up.

Regarding the twitter wall, please check out what the loklak team is doing,

[2015-05-27 11:55] mananwason commented on #27
According to http://stackoverflow.com/questions/7670289/sqlite3-operationalerror-unable-to-open-database-file , you need to change permissions of the folder containing the file. Please give it a try.

[2015-05-27 17:11] rafalkowalski commented on #27
I deployed to Heroku You should use this site http://glacial-earth-2730.herokuapp.com/admin/

[2015-05-27 17:11] #27 closed

[2015-05-27 20:14] leto commented on #24
@championswimmer I strongly recommend that vagrant is used so that anybody can spin up a local copy of the web app or deploy it to any service, not just Heroku. You can use the one that @rafalkowalski worked on here https://github.com/fossasia/open-event-orga-server/blob/master/Vagrantfile . Please ask me questions if there are things you don't understand and add bullets to your plan about vagrant

[2015-05-27 22:23] mananwason commented on #12
In the current Implementation, we store multiple values in the sessions column but as far as I see in the database model there is no separate table to mark speakers with sessions, thus violating Normal form. Please tell me how are you handling this?

[2015-05-28 16:25] championswimmer commented on #24
For only client side, why would I need a container.

Any browser can open it on any filesystem. Regardless of OS and env.

Like gh-pages looks like best option to me to host it. No deployment needed
at all. The code is the product itself.
On May 28, 2015 1:44 AM, "Duke Leto" <notifications@github.com> wrote:

[2015-05-28 17:23] leto commented on #24
@championswimmer I assumed that you were going to use some JS/CSS/other pre-processors which would require installing dependencies. If that is not the case, and you don't need to compile anything, then vagrant is not needed.

[2015-05-28 17:46] championswimmer commented on #24
I am trying to avoid any compilation. Should make it easier for the organization to deploy it. If I end up having to depend on some compilation process, I'll use vagrant :)

[2015-05-28 17:56] leto commented on #24
@championswimmer sounds like a plan! I like simplicity.

[2015-06-11 17:13] mananwason commented on #23
@mariobehling @leto @creativepsyco I have added maps to Milestone 2 due to the license issue.
https://github.com/fossasia/open-event-android/pull/27

[2015-08-09 13:38] championswimmer commented on #12
Can we close this issue ?

[2015-08-09 13:39] championswimmer commented on #9
We are using ISO8601 already. So let's close this issue ?

[2015-08-09 13:42] championswimmer opened #29 "Automatic script to generate APK"
Should need defining only API of the event and packagename as parameter to the script

[2015-08-09 15:11] championswimmer opened #30 "need to add support for format level and language tables and endpoints"
@rafalkowalski has to implement this on the server,
 and then @championswimmer and @mananwason have to implement the respective client apps.

https://github.com/opendatacity/re-data/blob/master/doc/api.md#get-eventsevent-idlanguages
https://github.com/opendatacity/re-data/blob/master/doc/api.md#get-eventsevent-idlevels
https://github.com/opendatacity/re-data/blob/master/doc/api.md#get-eventsevent-

[2015-08-09 15:36] mariobehling opened #31 "List to dos / differences / incompatibilities to re:data"
It turned out that the Open Event JSON was implemented differently in some parts. Please list in a table what differences exist, the reason for the difference and what can still be implemented in the Open Event JSON

------------------------------------------------------------------------------------------------------------------------
So I am gonna jot down which fields in the API we need to chan

[2015-08-11 17:29] championswimmer commented on #31
So I am gonna jot down which fields in the API we need to change to become comaptible with re:data

**GET /events**
* [ ] start_time -> begin
* [ ] end_time -> end

[2015-08-11 17:35] championswimmer commented on #31
@rafalkowalski @mananwason
We need to do these changes synchronously across all the three projects.

I'd suggest, first Rafal does it (pull request, not merge), then we see the generated json from the API, and we make same changes on webapp and Android, then we merge all three pull requests together.

[2015-08-11 17:40] rafalkowalski commented on #31
ok

[2015-08-11 17:43] mananwason commented on #31
@championswimmer Just one thought. Why are we trying to make it compatible to re:data unless there is some major benefit?

[2015-08-11 18:10] rafalkowalski commented on #31
@championswimmer @mananwason @mariobehling Why do we need this changes?

[2015-08-11 21:45] rafalkowalski commented on #31
https://github.com/fossasia/open-event-orga-server/pull/110

[2015-08-11 22:15] mariobehling commented on #31
@rafalkowalski It seems like you do not understand the idea from of the modular approach, that we discussed at the beginning of the project. We want to be able to deploy data from any system that supports the redata format. Even if there is another system e.g. a Drupal system, that offers a redata file, we could still generate an app with this data.

@championswimmer @mananwason Could you tell me,

[2015-08-11 22:20] rafalkowalski commented on #31
@mariobehling thanks for your answer ;) now it's clear for me

[2015-08-14 05:16] mananwason commented on #31
@rafalkowalski Please see the update here

[2015-08-14 08:22] rafalkowalski commented on #31
@championswimmer  @mananwason take a look https://github.com/opendatacity/re-data/blob/master/doc/api.md#sessions

[2015-08-14 09:06] championswimmer commented on #31
@rafalkowalski I think we'll have to make 2 new tables in db `levels` and `formats` for each session.

[2015-08-14 12:36] rafalkowalski commented on #31
@championswimmer on Re:data it's per event. I implemented it :)

[2015-08-15 07:06] championswimmer commented on #31
Sorry I meant each event only. My bad :)

[2015-08-15 09:09] mananwason commented on #31
@rafalkowalski @championswimmer Any other changes to be made apart from the ones listed here?

[2015-08-15 09:12] mananwason commented on #31
Also check out the api I have setup here https://github.com/fossasia/open-event/tree/master/testapi/event/1 and point out any visible flaws.

[2015-08-16 04:18] mariobehling commented on #31
Currently, the social media data and URLs are still missing from the web app for example. What is the implementation here? Does redata need to be changed?

[2015-08-16 14:53] championswimmer commented on #31
We have separate fields and re:Data has an array.

@rafalkowalski we have to change this as well

[2015-08-17 14:51] mananwason commented on #31
@rafalkowalski Please see the updated differences for sessions api. We need to have arrays for ```tracks``` , ```  level ``` and ``` language ```

[2015-08-17 14:54] rafalkowalski commented on #31
I saw it, Today i will implement it. @mananwason @championswimmer

[2015-08-17 14:55] mananwason commented on #31
:+1:

[2015-08-17 14:56] mananwason commented on #31
:+1:  Please notify once done

[2015-08-17 21:06] rafalkowalski commented on #30
@mananwason @championswimmer I deployed it to http://open-event.herokuapp.com/admin/
I can deploy all to Oceandigital server, but i have to drop database, because i made a lot of database changes. Can i drop database on Arnav server? Then I will run re:data script to fill data

[2015-08-17 21:47] championswimmer commented on #30
yes sure go ahead

[2015-08-18 05:23] mananwason commented on #30
yeah sure. Go ahead

[2015-08-18 17:19] rafalkowalski commented on #30
http://springboard.championswimmer.in/api/v1/event/1 link changed @championswimmer @mananwason

[2015-08-18 17:19] #30 closed

[2015-08-21 02:26] creativepsyco commented on #29
You can add custom build fields into the generated build config

[code]

You can do this to get package name of the app or the App API Host.

[2015-12-04 08:47] creativepsyco opened #32 "Preparation for FOSSASIA 2016"
This issue serves as a public record for the TODOs, plan of action to get open event android app compatible with FOSSASIA 2016 conference data formats. Please modify this post to notify changes.

### Participants

@batraabhishek @rafalkowalski @mariobehling @leto @championswimmer @mananwason @SaptakS

### Proposed Solution

This is something we discussed and which everybody agrees upon.
* Set up a

[2016-03-19 15:22] championswimmer commented on #24
Closing this, as this was for GSOC 2015. We need to create new roadmap for 2016 and future

[2016-03-19 15:22] #24 closed

[2016-03-19 15:22] championswimmer commented on #23
Closing this, as this was for GSOC 2015. We need to create new roadmap for 2016 and future

[2016-03-19 15:22] #23 closed

[2016-03-19 15:22] championswimmer commented on #22
Closing this, as this was for GSOC 2015. We need to create new roadmap for 2016 and future

[2016-03-19 15:22] #22 closed

[2016-03-19 15:48] championswimmer opened #34 "Roadmap for GSOC 2016 and forward"
GSOC 2016 is about to start. And a lot of coding activity will take place on the open-event repos in the coming months. It is good to have a roadmap of broad features we intend to add to these projects.

Tagging all parties involved on this to give their opinion -
@leto @mariobehling @creativepsyco  @batraabhishek @mananwason @rafalkowalski @hpdang

## Open Event Org Server

- [x] Access control (

[2016-03-20 12:05] the-dagger commented on #34
For Open Event  Android, we can do the following things too,
1. Creating a Wear Module that notifies the user before the event is about to start and provides the directions to it.
The notification will also allow the user to mark his attendance for the event.
2. Enhancing the Map Activity to allow navigation to the event location and show nearby hotels and air ports.
It will also display the sub e

[2016-03-20 14:14] championswimmer commented on #34
Deeplink support in the app would be nice too. Adding that.

[2016-03-20 15:43] SaptakS commented on #34
**Open Event Web App**
* In Open Event Webapp, I guess we can improve social media sharing opportunities more. We could add sharing in FB, Twitter and other social networking sites with proper hastagging.
* Also, Webapp doesn't have deeplink for every component. So, implementing that would be helpful as well.

**Open Event Orga Server**
* Add calendar features such as directly editing events from

[2016-03-20 16:43] SilentFlame commented on #34
@championswimmer
these three are three different Ideas under GSOC'16 for our org, am I right?

[2016-03-20 16:44] the-dagger commented on #34
@SilentFlame Yep

[2016-03-20 16:46] SilentFlame commented on #34
@the-dagger  Thanks. :)

[2016-03-21 12:39] the-dagger commented on #34
@championswimmer can we also link the event live stream (if the event has one) in the app and the webapp?

[2016-03-21 15:12] the-dagger commented on #34
For the event app, it will also be a good idea to show the recent posts from the speakers's G+/Twitter timeline in a separate tab in the speakerDetails activity.

[2016-03-22 14:00] the-dagger commented on #34
For the wear module, I was thinking about adding the ability to navigate to the event and mark attendance for the event too.
@championswimmer

[2016-03-25 11:07] the-dagger commented on #34
I was also thinking about adding a section in both the Android and IOS app that will show the Pictures from the event similar to the website.
The pics can be stored into a github repo and the app can get the json from that repository using the Github API by calling the endpoint "GET /users/:username/repos".
@championswimmer your thoughts?

[2016-03-26 20:34] the-dagger commented on #34
If we are adding review section to the app, then we must also add G+ login to the app (using the G+ API) so as to uniquely identify each and every reviewer.
In case someone is unwilling to login, then he won't be able to post a review for the event.

[2016-04-12 14:27] mananwason opened #35 "Get Open Event ready for OpenTechSummit 2016"
Opentechsummit is coming on 5th may. We need to improve the app and the parser to make it ready for the  event. @mariobehling can you provide some pointers for the api or the spreadsheet where we can get the data from?

* [ ] Improve the spreadsheet parser written [here](https://github.com/fossasia/open-event-orga-server/tree/master/open_event/tools/fossasia)
* [ ] Fix current bugs in android app

[2016-04-12 17:09] the-dagger commented on #35
@mananwason the android app is pretty much ready IMO, so we can move towards modifying the app so as to work well with the newer APIs and testing it in the process too.
What do you say?
Cheers.

[2016-04-12 19:32] mananwason commented on #35
@the-dagger There are still some things we need to fix. I'll be getting a list ready so that we can start working on them. First we need to fix the spreadsheet parser. Please report bugs you find in the parser. Cheers!

[2016-04-13 08:28] the-dagger commented on #35
Ok, sure.
I'll be having a look at the parser as soon as i get home.
Cheers.

[2016-05-16 20:55] #35 closed

[2016-05-16 20:56] #32 closed

[2016-05-16 20:57] #25 closed

[2016-05-16 20:57] #20 closed

[2016-05-16 20:57] #14 closed

[2016-05-16 20:58] #9 closed

[2016-05-16 20:58] #6 closed

[2016-05-16 20:58] #7 closed

[2016-05-16 20:59] #18 closed

[2016-05-16 20:59] #31 closed

[2016-05-16 20:59] #12 closed

[2016-05-17 09:01] championswimmer commented on #29
This should be in Android project, so closing it here

[2016-05-17 09:01] #29 closed

[2016-05-17 09:46] championswimmer commented on #34
All GSOC 2015 roadmaps and docs are here https://github.com/fossasia/open-event/tree/master/docs/GSOC2016

Closing this now.

[2016-05-17 10:05] mariobehling commented on #34
@championswimmer The roadmap is a good input, but some points are being discussed. Please take out the roadmap.md as it might give the impression that this is the overall plan. Let's move the specific component discussions into issues of each component. Every project can focus on its own goals. The projects can start by using data like the JSON of OpenTechSummit.

To Do: Please take out the roadma

[2016-05-17 10:21] championswimmer commented on #34
done

On 17 May 2016 at 15:35, Mario Behling <notifications@github.com> wrote:

[2016-07-17 20:14] #34 closed

[2016-07-19 09:45] aviaryan opened #42 "EhealthAfrica samples, event state should be Completed (case-sensitive)"
Currently the state is "completed" and it causes issues as the event is not available in the past events list when imported.

[2016-07-19 09:52] #42 closed

[2016-07-21 06:55] the-dagger opened #45 "Incorrect Microlocation.json in FOSSASIA16 sample"
[https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/microlocations.json](https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/microlocations.json)
There cannot be multiple entries for the same room
As this causes exception while storing data in the android app as there are multiple entries having the same primary key ("id").
Also it makes no sense to store the sam

[2016-07-21 19:01] #45 closed

[2016-07-22 06:05] shivamMg opened #48 "Add valid Microlocations"
https://github.com/fossasia/open-event/pull/46

- Remove just the duplicate entries.

[2016-07-22 20:25] #48 closed

[2016-07-29 14:30] aviaryan opened #54 "Add example CFS data to samples"
Corresponding to https://github.com/fossasia/open-event-orga-server/issues/1934, add CFS data in the event file in import/export/api samples.

[2016-07-29 22:48] #54 closed

[2016-08-01 16:07] mariobehling opened #56 "Add support of Open Event JSON to Giggity"
The repo of Giggity is here https://github.com/Wilm0r/giggity. Sample docs of the Open Event files are here https://github.com/fossasia/open-event/tree/master/sample

[2016-08-01 18:33] the-dagger commented on #56
@mariobehling @aayusharora  I would also like to work on this, if its ok with you.

[2016-08-01 18:39] the-dagger commented on #56
@mariobehling If I understood the issue correctly, we have to modify our sample json according to the json structure of Giggity and send a Pull request to their repo right?
In this way, their Android App will allow people to browse through the details of EHealth, OTS16 and FOSSASIA16.
Am i correct?

[2016-08-01 18:39] aayusharora commented on #56
@mariobehling Can you please elaborate this. Do we need to modify our OTS JSON according to their format?

[2016-08-01 18:43] mariobehling commented on #56
If you look at Giggity, it supports different formats. The goal is not to change our JSON. The goal is to enable Giggity to read our format. Implement support of our format in Giggity. Creat a fork and make a pull request to Giggity.

[2016-08-02 10:08] the-dagger commented on #56
@aayusharora @mariobehling I just checked their source code.
They don't have a JSON parser yet in their app and are currently parsing only  xcal/Pentabarf/frab XML schedules.
So we will have to modify their networking code and add our json parsing support.
[https://github.com/Wilm0r/giggity/blob/master/app/src/main/java/net/gaast/giggity/Schedule.java#L292](https://github.com/Wilm0r/giggity/blob/m

[2016-08-02 17:10] mariobehling opened #57 "Fix FOSSASIA sample"
The FOSSASIA event sample at https://github.com/fossasia/open-event/tree/master/sample/FOSSASIA16 still has a few issues:

* [x] There are a number of speaker duplicates and each speaker entry is related to a talk. Fix: Merge separate speaker entries and ensure a one to multi relationship (one speaker -> several events)
* [x] Change tracks to different colors
* [x] Add ```sponsor_type``` sponsors

[2016-08-02 17:53] mariobehling opened #58 "Fix OpenTechSummit event sample JSON"
The OpenTechSummit event sample at https://github.com/fossasia/open-event/tree/master/sample/OTS16 still has a few issues:

* [ ] There are a number of speaker duplicates and each speaker entry is related to a talk. Fix: Merge separate speaker entries and ensure a one to multi relationship (one speaker -> several events)
* [ ] Change tracks to different colors
* [ ] Find any other issues with the

[2016-08-02 19:14] the-dagger commented on #56
To implement support for our JSON files,we will have to modify their networking code and add json parsing support.
[https://github.com/Wilm0r/giggity/blob/master/app/src/main/java/net/gaast/giggity/Schedule.java#L292](https://github.com/Wilm0r/giggity/blob/master/app/src/main/java/net/gaast/giggity/Schedule.java#L292)
Here is the specific method where we need it to recognize JSON and then parse it

[2016-08-04 18:51] the-dagger commented on #56
@siddhantbajaj Sure, go ahead

[2016-08-05 17:55] siddhantbajaj commented on #56
I've  solved this issue. @the-dagger can you please review the changes , After which I'll make a pull request.
https://github.com/siddhantbajaj/giggity/blob/master/app/src/main/java/net/gaast/giggity/Schedule.java

[2016-08-05 18:09] the-dagger commented on #56
@siddhantbajaj Looks good to me.
One thing though, if there are no links associated to an event, set the link as [http://fossasia.org/](http://fossasia.org/) rather than keeping it as null.
![screenshot-area-2016-08-05-233822](https://cloud.githubusercontent.com/assets/6565270/17446216/d0253360-5b65-11e6-876c-6a999096599a.png)

[2016-08-05 18:15] mariobehling commented on #56
On this screen I can see that there is no spacing to the left and right. Also if there is not link there should not be any field "links" and there should not be "null".

[2016-08-05 18:16] mariobehling commented on #56
I wonder if this app needs more improvements. Well, let's go step by step.

[2016-08-05 18:19] the-dagger commented on #56
@mariobehling Agreed.
@siddhantbajaj Send a separate PR which addresses these issues as well as this is common to all the json links and not just ours.

[2016-08-05 18:47] siddhantbajaj commented on #56
@mariobehling @the-dagger Yes, this app needs a lot of improvement in UI. I'll fix the above issues and will send a separate PR for other issues.

[2016-08-05 22:27] mariobehling opened #61 "Check and fix issues/potential issues in all files"
**Event.JSON**
There are a few potential inconsistencies in the files, e.g. in this one https://github.com/fossasia/open-event/blob/master/sample/EhealthAfrica/event
* [x] There is a line "background_url": "/images/background.jpg". This line should be moved above "logo" and renamed "background_image".
* [x] Call for papers only seems to have - "closing_datetime": null, - , but not an opening date,

[2016-08-07 08:47] aviaryan commented on #61
Why do we need it? All data is already defined in Event JSON.

Yes we don't need it. I will fix it. https://github.com/fossasia/open-event-orga-server/issues/2094

[2016-08-07 08:56] aviaryan commented on #61
No it can have rich text/html also. The samples have plain text, that's all. You can store rich-text as -
[code]

Version is 0 when the event has been just created. If an event without version info in the files is imported, all version info is set to 0. Should I change version infos to some random non-zero values ?

Social links have IDs because they have PUT and DELETE APIs i.e. the server allows

[2016-08-07 09:31] mariobehling commented on #61
We need a version that is working here for the app generators and the sample files should direct the app generators to the orga server test version. Please help to make things work for the app team.

[2016-08-07 14:40] aviaryan commented on #61
As I have explained in [this issue](https://github.com/fossasia/open-event-orga-server/issues/1786#issuecomment-234768569) before, it is not possible to remove session_types json (or put it inside sessions json).

session_types json does correspond to an API and that is `api/v2/events/ID/sessions/types`.

[2016-08-07 18:10] mariobehling commented on #61
Where can this be added to the documentation?

Also regarding documenting the API with swagger, actually we can only read this on a deployed system. How can we read the API documentation without a deployed system?

[2016-08-08 06:40] aviaryan commented on #61
We can add a FAQ section in import/export docs.
https://github.com/fossasia/open-event-orga-server/blob/development/docs/IMPORT_EXPORT.md

Swagger generates the documentation from the code. So without building the code, there is no documentation. There are ways to generate PDFs from swagger.json, maybe we can generate one.

[2016-08-08 08:21] mariobehling commented on #61
It would be more suitable to have an API documentation in HTML. Can we save the Swagger HTML pages and store them on github pages?

[2016-08-08 19:36] aviaryan commented on #61
closing_datetime was an invalid field and will be removed in https://github.com/fossasia/open-event-orga-server/issues/2120 . The start and end time for CallForPapers is stored in the "call_for_papers" field in event json.

[2016-08-08 19:48] aviaryan commented on #61
Yes it is [possible](https://www.npmjs.com/package/swagger-to-html) to save swagger docs as static HTML pages. Btw, which repo should we store it in ? open-event or new repo ?
We can create a gh-pages branch there and I can write a script that creates the HTML docs from swagger.json and then push it in gh-pages branch so that it is available online.

[2016-08-09 10:19] aviaryan commented on #61
creator refers to the user who created the event. The user like all other models has an ID. So there is `id` to uniquely identify the user. I agree that it is not needed as email is UNIQUE but keeping IDs is a good practise and everyone does that.
On a different note, `creator` is not needed for import as the creator is auto-set to the user who imported the event. So should I remove `creator` from

[2016-08-09 10:40] mariobehling commented on #61
Please remove the "id", but keep the email. Think of the use case where you have several open event servers and export from one and import to another. You do not want any confusion of which id created it as the systems have different ids.

I think until we have defined an overall documentation strategy, please implement as you described in gh-pages in the orga server (not open-event). It is possib

[2016-08-11 18:33] aviaryan commented on #61
Currently the json files list the keys in alphabetical order. Should I sort them in a manual order ? Are there any other json files that need to be sorted this way ?

[2016-08-11 22:25] mariobehling commented on #61
@aviaryan All content of all JSON files should be sorted in a logical order. If you are unsure, follow the flow of the wizard.

* [ ] Another point is that I see photos are not saved according to names of speakers in the speaker folder for example and there is also an svg file in the speaker folder. Could you export the files as -SpeakergivennameSpeakerfamilyname.png/jpg, please? Please open a ded

[2016-08-12 09:42] aayusharora commented on #57
@championswimmer I think you have fixed that? Does it need any other fix.

[2016-08-12 18:12] the-dagger commented on #61
@mariobehling @aviaryan I have updated the issue with more points to be fixed, could you please have a look at it?

[2016-08-13 06:43] aviaryan commented on #61
@the-dagger

The `location_name` is supposed to contain the full address. Eg `Road no 2 C Rajendra Nagar Patna Bihar India 800016` . As the samples were created much eariler than this change, they still have just the location_name as just "Singapore". Feel free to update the samples with full address like "Some building Some location Singapore"  . I can confirm that this format will display direct

[2016-08-15 04:32] aviaryan opened #70 "Update samples with speaker images having their names"
https://github.com/fossasia/open-event-orga-server/issues/2169

Now that the feature to export speaker images with their names as filenames is done, we should update the samples to reflect the same.
Eg > Change speakers/photo1.jpg to speakers/MattBlanc_1.jpg

https://github.com/fossasia/open-event/issues/61#issuecomment-239312104

[2016-08-15 06:28] the-dagger commented on #70
@aviaryan also many speaker don't have their images.
Will you be working on that too?

[2016-08-15 11:30] aviaryan commented on #70
@the-dagger No. this issue doesn't involve that.

[2016-08-15 16:51] #70 closed

[2016-08-15 18:36] aviaryan opened #72 "Update samples, use unicode char instead of escaped characters"
In reference to https://github.com/fossasia/open-event-orga-server/issues/2227 , update the samples to use unicode characters instead of their escaped counterparts.

[2016-08-16 09:06] aayusharora opened #74 "Bug in Sponsor level"
@mananwason  After your last PR the sponsor levels https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/sponsors#L14 are added in Fossasia sample which seems integers. They should be considered as strings like we do in OTS16 repo  https://github.com/fossasia/open-event/blob/master/sample/OTS16/sponsors#L14

[2016-08-16 09:38] mananwason commented on #74
@aayusharora @mariobehling Mentioned that levels are supposed to be integers that can be used for sorting.

[2016-08-16 09:41] aayusharora commented on #74
@mananwason The form in which they are available in OTS16 https://github.com/fossasia/open-event/blob/master/sample/OTS16/sponsors#L14 are used as sorting as well. I have made them in Fossasia sample repo  #75 to maintain consistency.

[2016-08-16 09:44] mananwason commented on #74
I agree @aayusharora but @mariobehling Said that levels are ints. They can obviously be changed to any of strings and int on the client side but we need to follow a format we expect from the server. So I think @mariobehling or someone from the server can clarify this.

[2016-08-16 11:57] aviaryan commented on #74
@mananwason @aayusharora  The Database model of sponsor has level as string, and they have been like this for a long time now.

[2016-08-16 12:03] #72 closed

[2016-08-17 06:25] aviaryan opened #77 "Syntax issue in FOSSASIA event json"
In social_links, there is an event_url field. It should be named as `link` (Like in OTS and Ehealth json)
This is causing problems with import.

[code]

[2016-08-17 06:30] #77 closed

[2016-08-17 06:42] aviaryan opened #79 "Issues with FOSSASIA sample"
Since I last fixed it, some issues seem to have arised in the FOSSASIA samples. The error I got
when importing it into open-event-dev was the following. I will fix it and the subsequent errors if any and make FOSSASIA sample importable.

[code]

[2016-08-17 08:31] #74 closed

[2016-08-17 08:44] championswimmer commented on #74
@aviaryan to be clear, the format is string, but the values will be integers right ?

(because sorting 'one' and 'two' is different from sorting '1' and '2' ;) )

[2016-08-17 09:07] aviaryan commented on #74
@championswimmer Yes. Orga Server UI has a NumberPicker for the field level and it doesn't allow strings so you can be sure that it will have integers.

[2016-08-17 09:42] championswimmer commented on #74
Thanks Avi :)

On Wed 17 Aug, 2016 14:37 Avi Aryan, <notifications@github.com> wrote:

[2016-08-17 10:45] #79 closed

[2016-08-19 08:24] mariobehling commented on #58
Is this finished?

[2016-08-19 08:24] #57 closed

[2016-08-19 18:54] the-dagger opened #83 "Add .json to the samples"
Since we are directly copying the json files from the [sample zip](https://github.com/fossasia/open-event/blob/master/sample/EhealthAfrica.zip) into the assets folder of the android app , the samples need to have `.json` so as to be correctly recognised as json files.
@mariobehling @aviaryan Could you please provide your views on this?

[2016-08-19 19:03] aviaryan commented on #83
@the-dagger The reason .json was removed was because web app team ( @championswimmer @aayusharora ) had some issues with it. If they are fine with it, we can do it.

[2016-08-19 19:09] championswimmer commented on #83
@the-dagger the app can read the files even if they are not having .json extension

[2016-08-19 19:10] championswimmer commented on #83
@the-dagger the reason we dropped .json is that github raw API can be used to emulate orga-server api. not possible if the .json extensions exist.

[2016-08-19 19:12] the-dagger commented on #83
@championswimmer Thanks for the info.
I'll try to find a way around to fix this up on the backend server.

[2016-08-19 19:12] #83 closed

[2016-08-19 19:12] the-dagger commented on #83
@mananwason

[2016-08-19 19:23] mananwason commented on #83
@the-dagger @championswimmer is right. It's just the current implementation read json files with '.json' extension. we can change that if required.

[2016-08-19 21:00] mariobehling opened #84 "Define idea and propose implementation of track_image_url"
track_image_url is currently not implemented in the orga server, but shows up here in the sample.

Please define details.

[2016-08-19 21:01] mariobehling opened #85 "Set image in track_image_url to null"
The feature is currently not implemented in the server and there should not be a sample image in here therefore.

Please take it out: https://github.com/fossasia/open-event/search?utf8=%E2%9C%93&q=http%3A%2F%2Florempixel.com%2F400%2F200&type=Code

[2016-08-20 10:48] #85 closed

[2016-08-22 20:49] the-dagger opened #90 "Wrong sample zip files"
The sample zips in the repo for [FOSSASIA16.zip](https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16.zip) is not what is generated from orga server's event export system.

![screenshot_20160823_015132] (https://cloud.githubusercontent.com/assets/6565270/17870937/1f1e6a30-68d7-11e6-8db0-b9b294ae3ec6.png)

The panel on the right displays the zip exported from event management from o

[2016-08-23 07:23] #90 closed

[2016-08-23 17:02] aviaryan commented on #84
As discussed on gitter, track_image_url has been set as null in all the samples for now.
As track_image_url is not being used in orga server, we can be assured that it will always be null.
@mariobehling Should we remove track_image_url completely ?

[2016-08-23 21:16] mariobehling commented on #84
@aviaryan Ok, thanks for clarifying this. I think we can keep it but just do not use if for now. Actually we had a track photo in past FOSSASIA websites. Still I think it is not a priority and we could just have an issue, that we follow up some time later. Could you create one in the server repo, please with the details and then close this issue. Thank you.

[2016-08-24 11:52] mariobehling opened #93 "Fix email@domain.com and use "null" instead"
Currently "email": "email@domain.com" is implemented as the emails were not available. Please use "null" instead.

[2016-08-24 12:01] mariobehling opened #94 "Add missing speakers in sample files and fix ratio of all existing speakers"
The required aspect ratio of all speakers is a square.
* [ ] Please fix all speaker images that do not have the square aspect ratio and crop them
* [ ] Please add all missing speakers into the sample files
   * [ ] Into the folder /images/speakers/ (Check for missing FOSSASIA speakers here https://github.com/fossasia/2016.fossasia.org/tree/gh-pages/img ; Check for missing OTS speakers here https:/

[2016-08-24 12:11] mariobehling commented on #61
Re-checking on the current version, this still has not been achieved.

A logic order means: Basic info comes first and items that belong together are next to each other, e.g.
* [ ] Start with ID, names and other basic info in JSON files
* [ ] Align items, e.g. longitude and latitude

[2016-08-24 18:37] mariobehling opened #95 "Fix photo links and add images into image folder in samples"
The OpenTechSummit sample has some wrong links to photos in the speakers JSON here https://github.com/fossasia/open-event/blob/master/sample/OTS16/speakers

* [ ] Please add the photos of speakers into the image folder
* [ ] If no photos are available set to "null"
* [ ] Doe the appropriate for wrong entries like "photo": "https://raw.githubusercontent.com/OpenTechSummit/2016.opentechsummit.net/gh

[2016-08-26 10:50] aviaryan commented on #61
@mariobehling I did the change in export module to export in a logical order here. https://github.com/fossasia/open-event-orga-server/pull/2212/
I missed updating the samples. I will update them now. Can you please merge all open PR's because this will require changing whole files and will surely result in merge conflicts.

[2016-08-26 17:00] #93 closed

[2016-08-26 17:04] mariobehling commented on #61
Thanks. Merged it.

[2016-08-27 20:15] the-dagger opened #97 "Remove leading white space from microlocations"
The web app generator has some issues when there are leading white spaces.
[https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/sessions#L85](https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/sessions#L85)

@aayusharora @championswimmer Please confirm

[2016-08-27 20:22] #97 closed

[2016-08-28 05:53] aviaryan commented on #95
In OTS samples, the photos which are of the form `raw.githubuser.../programm/`  are not present in the ots site repo and due to some problem in the parser, they have been set this way.
I think we can safely set them to null.

[2016-08-28 07:59] mariobehling commented on #95
The goal is to have a complete sample set. So, the photos of the speakers should be complete as much as possible. Cheers.

[2016-08-28 08:13] the-dagger opened #100 "Use lowercase without spaces for images"
The Android app only accepts images that have their name in lowercase and without any spaces.
This is not the case with images right now, so they are not getting displayed when the app is generated from the generator using sample zip file.

[2016-08-28 09:10] mariobehling commented on #100
As discussed before this should be solved in the app generator and not be a requirement for the format. The app generator needs to convert them. Thanks for mentioning this blocker again. It is not a bug of the format.

[2016-08-28 09:10] #100 closed

[2016-08-28 18:40] #61 closed

[2016-08-30 18:06] mariobehling opened #103 "Fix timezone and times of sessions in FOSSASIA sample JSON"
The FOSSASIA sample currently shows timezone "UTC" instead of Singapore time in the event JSON (https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/event) and all times of sessions are wrong (https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/sessions), e.g. the grand opening is at 1.30 in the JSON, but it should be at 9.30AM for example.

The original times are

[2016-08-31 10:47] aviaryan commented on #103
@mariobehling Infact, since the timezone is set as UTC in the event json, so technically the time mentioned in sessions json are correct.
BTW, I agree that it will be more feasible to have the timezone as SGT. I will do it.

[2016-09-01 10:09] #103 closed

[2016-09-04 06:00] Princu7 opened #105 "OTS16 doesn't have a zip version of it."

[2016-09-04 06:06] niranjan94 commented on #105
@Princu7 could you make a zip submit a PR ?

[2016-09-04 06:39] aviaryan commented on #105
The OTS sample is around 570 mb's . According to [this article](https://help.github.com/articles/what-is-my-disk-quota/) by GitHub, a zip of that size won't be allowed on github.

[2016-09-04 06:49] Princu7 commented on #105
So this action has been taken deliberately. Just wondering if we can make a zip file without audio just for quick testing purposes?

[2016-09-04 06:56] aviaryan commented on #105
You can remove the 'audio' folder and make the zip but then you will also have to edit sessions (json) file and set all audios as null.

[2016-09-04 07:09] Princu7 commented on #105
Thanks for the clarification. So As far I understand, this issue probably doesn't need any work. However I still wonder won't it be good if we can provide two versions of the OST16?  One with audio and one without audio. For someone who wants to quickly create the event website without audio he would have to do this cumbersome task of editing sessions file and setting audio to null. Just a small s

[2016-09-04 07:18] aviaryan commented on #105
@Princu7 No problem really. Thanks for your concern.
The import module ignores the audio (sets as null) if the file linked in the json doesn't exists in the zip. So you can just create a zip without the audios/ folder and it should work perfectly when imported.

Not sure on this. Only thing I know is that it can get tough to maintain the files. But maybe that is not much of a reason. @niranjan94 @

[2016-09-04 07:58] Princu7 commented on #105
Sorry but I didn't get this statement. Doesn't it contradict what you said earlier about having to manually set audio link to null?  I have not read the code pertaining to this process which might be the cause of my ignorance. Also I looked at the sessions file and all of the audio link are already set there to null. So how does all of this fits in the picture? I am confused.
By the way, thanks fo

[2016-09-04 10:33] aviaryan commented on #105
If an invalid path is set for audio, it will be set to null by orga-server when imported. That is just a safe step to minimize issues when importing. Like if a path is invalid, the user will not get an error, instead the import will continue setting the invalid audio as null.

BTW, Not all audios are not null. See https://github.com/fossasia/open-event/blob/master/sample/OTS16/sessions#L1545 for e

[2016-09-04 10:42] Princu7 commented on #105
I think I am getting it. So what do you think. Should I make a pull request of the zip file containing all the
sessions audio set to null? It will definitely reduce the time to upload the zip to the server and also doesn't depend on the orga-server to set the audio as null.

Yeah. I realized that all audios are not null just few minutes after posting my original comment.That's why I edited my answ

[2016-09-06 06:11] mariobehling opened #107 "FOSSASIA: Set correct timezone of sessions in "Session JSON" and ensure correct timezone is set globally in "Event JSON""
In "Session JSON" the timezone is set to UTC. Please set SG timezone and ensure correct timezone is set globally in "Event JSON".

[2016-09-06 06:38] mariobehling opened #108 "Enhance/Fix FOSSASIA sample"
* [ ] Assign all RedHat people to the session: Fri, 18th Mar, Planck Lab, 13:30 - 14:00 • Technologies developed by Red Hat

[2016-09-11 08:11] mariobehling opened #109 "FOSSASIA: Merge same talk and several speakers into one session"
There are a few sessions that have several speakers. These talks currently show up several times in the json. We can also see the result in the web app. Please merge the sessions and assign several speakers where relevant.

![screenshot from 2016-09-11 10 08 16](https://cloud.githubusercontent.com/assets/1583873/18416039/0bee79ec-7808-11e6-8524-1953b9da422b.png)

[2016-09-14 05:52] aviaryan commented on #109
To assign several speakers in one session , we need to follow the following syntax.

[code]

I am very busy right now so can't do it. Sorry about it. Anyone please feel free to pick up this issue.

[2016-10-20 18:31] shubham-padia opened #110 "Html-minifier in the webapp throws parse error for the OTS sample"
[code]

[2016-10-20 19:30] #110 closed

[2016-10-20 21:57] shubham-padia opened #112 "Urls for audio files are absolute, make them relative"
Url for audio files is given as `/audios/session_37.mp3` , use `audios/session_37.mp3` instead of that , so that they can be used effectively in the webapp.

[2016-10-20 21:59] shubham-padia commented on #112
@mariobehling Does this type of change create any issues with orga-server, if not then please merge #113 .

[2016-10-21 05:54] aviaryan commented on #112
@shubham-padia yes they will create issues in the orga server.

[2016-10-21 06:40] #112 closed

[2016-11-01 00:11] mariobehling opened #114 "Re-import the speakers pictures for the OTS sample"
At some point the OTS sample were scaled down to 100px. This is too small. Please re-import the images of speakers to the OTS sample from https://github.com/OpenTechSummit/2016.opentechsummit.net/tree/gh-pages/img .

Please ensure the names are changed accordingly.

[2016-11-01 19:49] Princu7 opened #115 "Invalid name of a speaker in OTS16 sample causes parse error in the web app"
@mariobehling
This line causes the parse error
`"name": "Andreas \"Andz\" Müller",`

I will send a pull request soon to remove it. Thanks!!

[2016-11-01 19:54] #115 closed

[2016-11-01 19:57] Princu7 commented on #115
Sorry I was using an outdated version of the zip. Sorry for inconvinience.

[2016-11-02 18:38] shubham-padia opened #116 "add colors to each track in the OTS16 sample"

[2016-11-03 03:21] #116 closed

[2016-12-04 09:13] pipix51 opened #119 "Open Event JSON Set for FOSSASIA15"
Considering that FOSSASIA 2015, unlike the 2016 event, lacks a Open Event JSON set, we should create one .

[2016-12-05 10:44] mariobehling commented on #119
@pipix51 I have changed the file structure to the standard structure. I have also removed the original images and separated the speaker and sponsor images in two folders following the FOSSASIA 16 files. Please fix the direction of the images in the JSON files and add all other required data e.g. microlocations. Please also stick to the way other samples are set up, e.g. no ending ".json".

You can

[2016-12-18 09:10] brainbreaker opened #121 "Add graphical assets-images, videos etc to the JSON"
Currently, JSON being fetched from the server does not have any or very minimum graphical assets like logos of sponsors etc. Absence of graphics makes applications look very pale and boring.

Image and video URL fields should be added in JSON of sessions and tracks.

[2016-12-31 12:15] rhemon opened #125 "Add 2010 FOSSASIA summit to samples"
I want to add 2010 FOSSASIA summits sample files for my task. Would like to get assigned for that. Creating this issue to prevent work overlapping.

[2017-01-03 12:35] pipix51 opened #128 "Adding 2012 FOSSASIA Summit Sample Files"
I would like to add the JSON files for the 2012 FOSSASIA summit from http://2012.fossasia.org

[2017-01-05 17:37] #125 closed

[2017-01-14 18:13] mariobehling opened #129 "Propose unified documentation approach for open event subprojects"
The goal is to have the documentation in each project repository and generate it into a website with sections for each subproject.

[2017-03-18 21:26] mariobehling opened #131 "Create an Open Event Format file of Mozilla event as a showcase"
The last Mozilla corporation event was held in Hawai https://hawaiiallhands2016.sched.com/

Please convert this to the last version of the Open Event format (based on the API). Ensure you support the last version of the API of the server.

[2017-05-03 15:32] mahikaw commented on #128
seems like @pipix51 is not working on it. @mariobehling can I work on it?

[2017-05-04 05:39] mahikaw commented on #129
We could make a website on github.io of this repo and club all the sub-projects' documentation. @mariobehling Can I work on this?

[2017-05-04 08:55] mariobehling commented on #129
@mahikaw We have a dedicated documentation team during GSoC, with students who applied for this project and will take care of it. We can follow up later with you in detail to get you aligned.

[2017-05-10 09:49] arp95 opened #133 "Test of Open Event Android app on Google IO event"
@niranjan94 @mariobehling
testing the open event android app on google io event and use it to find more improvements we can do to the app part as discussed.

[2017-05-10 09:50] niranjan94 commented on #133
@arp95 what is this issue about. Please add a proper issue title and description.

[2017-05-10 09:56] arp95 commented on #133
@niranjan94
is it fine?

[2017-05-10 11:40] mahikaw commented on #133
@arp95 I don't see any issue here. Could you please specify the exact issue, if any, and the steps to reproduce it.

[2017-05-11 21:16] heysadboy opened #134 "Convert JSON samples to XML to add support for Giggity app"
As Giggity loads xcal/Pentabarf/frab/wafer XML files that contain schedules of conferences.

I found that conference that has been added is in JSON format.
But the events in the conference are in [.ics](https://en.wikipedia.org/wiki/ICalendar) file. That is parsed in XML format. A sample events of MOCA 2016 conference is here https://moca.olografix.org/moca2016.ics.

Although events in other confe

[2017-05-12 05:12] arp95 opened #135 "Samples for Open Event Android App"
In the next few days i will be uploading few samples for the Open Event repo. One is the Google IO version while other is on Mozilla event.

[2017-05-12 05:13] arp95 commented on #135
@niranjan94 can i send a pr for the sample and then update it. I just wanted to check my indiviudal json files so taht i am assured i am working fine.

[2017-05-12 05:14] niranjan94 commented on #134
@heysadboy we already have support for exports in Pentabarf XML, iCalendar (ical) and iCalendar XML (xcal) formats. Please try importing those into Giggity and document what all needs to be added/improved.

That should be our starting point.

[2017-05-12 05:15] niranjan94 commented on #134
Create/import an event with a sessions at https://open-event-dev.herokuapp.com and try exporting it.

[2017-05-13 04:04] mahikaw opened #137 "No zip file for sample of FOSSASIA 2011, FOSSASIA 2015 and OTS 2106"
Shall I add them, as zips are available for all other samples except for these. @mariobehling @niranjan94

[2017-05-13 04:04] niranjan94 commented on #137
@mahikaw sure you can add them

[2017-05-13 04:42] mahikaw opened #138 "Existing samples non-functional"
The current samples are not functional. After creating an APK from the app generator, it shows the following when I try to install and run the application.

![screenshot_20170513-094310](https://cloud.githubusercontent.com/assets/21010060/26022468/c47bd2d6-37c3-11e7-83bc-c666730004fc.png)

@mariobehling @niranjan94 Can I work on it?

[2017-05-13 05:47] niranjan94 commented on #138
@mahikaw
- first ensure if the problem lies in the sample or the generator.
- Test other samples with generator
- Check the generator codebase to see where and how the API endpoint information is obtained and added to the app
- Then see if the location from where the generator tries to get the endpoint is the same as the location where it is actually stored in the sample.

[2017-05-13 05:51] mahikaw commented on #138
sure, thanks for these steps @niranjan94 I am on the 3rd step, the current samples are not working.

[2017-05-14 02:35] heysadboy opened #139 "Adding alternative FOSSASIA 2016 XML sample for Giggity app"
Giggity app requires the session details to be in XML format. So we need to add it here to link it in the final JSON file for conference. https://github.com/Wilm0r/giggity .  (See readme)

The XML session file looks like this in my local repo https://github.com/heysadboy/Giggity-Parser/blob/master/Parser/sample.xml .

@niranjan94 @mariobehling @the-dagger

[2017-05-14 02:38] heysadboy commented on #134
@niranjan94 As I could only import an event with sessions created by me so I made this [parser]([url](https://github.com/heysadboy/Giggity-Parser)) to convert the JSON format data of FOSSASIA 2016 into XML format that Giggity can process.

[2017-05-14 03:45] niranjan94 commented on #139
@heysadboy that looks like the Pentabarf XML format. Open event already supports export to that format. Have you tried the already existing export implementation?

[2017-05-14 08:50] heysadboy commented on #139
@niranjan94 It is indeed. I think I could only import the events created by me. I just need to add this here anyways.

[2017-05-14 08:52] niranjan94 commented on #139
You can import the fossasia 2016 sample under your own name as a new event
and try exporting. The reason I'm asking you to try out the existing export
system is, we want to know what needs to be improved there to support
giggity. Please try that.

On Sun, May 14, 2017, 2:20 PM Varun Kumar <notifications@github.com> wrote:

[2017-05-14 09:13] heysadboy opened #140 "Internal server error on attempt to import the data"
I tried to create an event using the zip file of FOSSASIA 2016 already present in the repo but internal server error occurs.
![screenshot 111](https://cloud.githubusercontent.com/assets/22588035/26032544/a4f80830-38b3-11e7-8e53-6aaa780e7210.png)

[2017-05-14 09:14] niranjan94 commented on #140
Please open this issue on the server repo. Not here.

[2017-05-14 09:14] #140 closed

[2017-05-24 06:08] mahikaw opened #142 "Incorrect Json fields are filled in all samples."
**Actual Behaviour**

The JSON in event.json is storing data in "organiser_description" and "description" fields interchangeably.

**Expected Behaviour**
JSON field "description" should store information about the particular event and "organiser_description" should hold the information about the organiser.

**Screenshots of the issue**

<img width="902" alt="screen shot 2017-05-24 at 11 35 36 am"

[2017-05-24 06:12] niranjan94 commented on #142
@mahikaw
So, this issue is about fixing the about us fragment or the samples ? Please be more clear in your description.

[2017-05-24 06:15] mahikaw commented on #142
It is for both actually.

1. We first need to correct the sample so that "description" stores the event description and "organiser_description" stores information about organiser

2. We need to change the string used in about fragment in android app.

Shall I open the same issue in the Android repo too? @niranjan94

[2017-05-24 06:15] niranjan94 commented on #142
Yes. Please open an issue in the android repo too. And edit this issue description to deal with only the discrepancy in the samples.

[2017-05-31 19:54] rohanagarwal94 opened #147 "Removal of the EHealthAfrica zip file"
The zip file seems outdated and the generator is not able to support its format.

[2017-06-06 03:17] arp95 opened #149 "Sample Event for Mozilla All hands"
Mozilla All hands event will be just happening. Creating sample event files for it.

[2017-06-09 03:56] heysadboy commented on #134
Closing this as server is able to generate the XML format. We'll be using JSON data in the modified app generated by server.

[2017-06-09 03:56] #134 closed

[2017-06-09 03:57] heysadboy commented on #139
The XML link is provided by server so the files don't need to be added here.

[2017-06-09 03:57] #139 closed

[2017-06-09 13:14] arp95 opened #152 "Correct the sample event files of Google IO and Spark Summit event"
There are some fields missing in Google IO event and Spark Summit event which are not giving a web app out of it. Correcting them.

[2017-06-11 11:22] iamareebjamal opened #153 "Correct the date format in samples"
The API date/time response has changed from `2017-03-17T09:00:00` to `2017-03-17T09:00:00+08:00`

Now, it includes the Timezone info. While it may not create issues on the webapp, it breaks parsing on Android App as it has been updated to format according to the new date/time response. Furthermore, samples should be up to date with the server API specs

[2017-06-12 18:17] iamareebjamal commented on #153
@Shailesh351 @shreyasnbhat Can any one of you two please correct the samples, I'm a little busy with orga app. The generated apps will crash on these old zips. Then someone might think that the app or generator is broken. Should not take more than an hour.

Please send separate PRs for different event samples

[2017-06-12 18:28] Shailesh351 commented on #153
Sure @iamareebjamal taking this issue

[2017-06-14 06:05] mahikaw commented on #153
@Shailesh351 while you're at it, it would be nice if you could also update other things about the sample as per the latest response.

[2017-06-14 07:22] mahikaw commented on #152
How's the progress here @arp95 ?

[2017-06-14 07:25] mahikaw commented on #133
@arp95 please close this issue now.

[2017-06-14 18:40] arp95 commented on #133
sure @mahikaw

[2017-06-14 18:40] #133 closed

[2017-06-14 18:40] arp95 commented on #152
@mahikaw working on them.

[2017-06-15 12:54] mahikaw opened #162 "Sample event FBF8 2017"
Creating JSON files for the F8 event which will help in generating the corresponding web app and android app.

Original Link to event here: https://www.fbf8.com/

[2017-06-15 12:55] mahikaw opened #163 "Sample events OSCON17"
Creating JSON files for the OSCON event which will help in generating the corresponding web app and android app.

[2017-06-16 11:08] arp95 opened #164 "Certain low quality images in Mozilla All Hands 2017 event"
There are low quality images of the following speakers:

1. Alex Fridman
2. Andy McKay
3. Mark Edwards

Would appreciate if anyone can help me finding these images of high quality.

[2017-06-16 16:07] mahikaw opened #165 "Allow more than one track in a session"
**Actual Behaviour:**

According to the current API and framework, every session can have only 1 track related to them.
There are sites/samples where some sessions may have more than 1 tracks/topics related to it.

**Related information:**

For instance, the F8 event has such sessions : https://www.fbf8.com/schedule/intro-to-building-camera-effects-with-the-ar-platform

**Expected behaviour**

We

[2017-06-16 16:10] mahikaw commented on #164
@arp95 I can find a few other low resolution images too in your sample. Please check once again and update the issue.

[2017-06-16 16:44] arp95 commented on #164
@mahikaw please name if you find any.
also provide high quality image if you can find.

[2017-06-16 18:14] niranjan94 commented on #165
No @mahikaw . this is not how this should be implemented. A track is different from a topic. A session can have multiple topics but can have only a single track.

So, until, we implement topics into the server, frontend, API, Spec, we'll just pick one of the topic and use it as a track.

Closing this issue until our timeline clears up to consider implementation of topics.

[2017-06-16 18:14] #165 closed

[2017-06-20 08:32] #149 closed

[2017-06-20 09:42] arp95 opened #166 "renaming of mozilla sample and removing of un-necessary attributes"
Renaming the "MozillaAllHands_17" event to "MozillaAllHands17".
Also removing the attributes which arent use to make the samples look better.

[2017-06-20 10:42] mahikaw opened #167 "Rename fbf8 sample and update background image"
Rename to FBF817 and update the background image.

[2017-06-20 10:51] mahikaw opened #169 "Updating OSCON17 sample"
Add complete information and update it.

[2017-06-20 11:09] arp95 opened #171 "Add zip file for the OSCON and Fbf8 event"
@mahikaw
please add the zip file for the above mentioned events.

[2017-06-20 11:56] #166 closed

[2017-06-20 12:14] arp95 opened #172 "renaming of google io and spark samples"
renaming of google io and spark samples.

[2017-06-21 06:10] arp95 opened #176 "MozillaAllHands17 banner in wrong format"
The banner is of form jpg but used in the json files of png format. correcting that.

[2017-06-21 06:52] Princu7 opened #177 "Remove blank lines from Google IO and Spark Event Samples"
I tested the app on the Spark and Google IO samples and they don't seem to work. I found that the JSON files are not being read properly by the library used in the web app project. It is declaring it as invalid. After searching around and comparing with other samples for a while, I found that the file contains newline characters which are probably causing the error. I opened the file in gedit with

[2017-06-21 06:54] Princu7 opened #178 "Include local images in the Google IO and Spark sample"
Currently, most of the images links are of the Google storage so they would have to be fixed as well. Please, including the raw pictures of the speakers in the sample itself in an appropriate resolution. Thanks :)

[2017-06-21 14:03] #172 closed

[2017-06-21 18:23] #131 closed

[2017-06-21 21:43] arp95 opened #180 "changing format of susan chen picture"
The current format of the photo is jpeg which should be jpg instead. sending a pr for the fix.

[2017-06-22 01:53] Princu7 opened #182 "Issues in the All of Hands 2016 Sample"
Currently, we are not able to generate a web app out of the All of Hands 2016 sample. It gave an invalid JSON error. After searching for the issue for a while, it seems there are some typos. Some quotes are not properly closed. Like in this screenshot:-

![screenshot from 2017-06-22 07-21-06](https://user-images.githubusercontent.com/8847265/27413832-6841bf22-571b-11e7-9e2e-10dd8d7c31d3.png)

The

[2017-06-22 05:15] niranjan94 commented on #180
@arp95 both jpg and jpeg are the same format and just the extension varies. And both are valid too. Why is this as issue?

[2017-06-22 05:19] Princu7 commented on #180
@niranjan94 Yes. Both are valid. The problem is that in the speaker JSON file, the image is specified as `susan_chen.jpeg` while in the images folder, it exists as `susan_chen.jpg`. So, when we generate the app through the API, the file doesn't get downloaded since no such file as that given in the JSON (`susan_chen.jpeg`) exists. This would not have been an issue if extensions (no matter jpeg, jp

[2017-06-22 05:20] niranjan94 commented on #180
Cool. Thanks for the explanation @Princu7... @arp95 always give a proper issue description.

[2017-06-22 05:23] arp95 commented on #180
@niranjan94 will take care from next time. sorry for it.
i know they are of same format but @Princu7  was facing issues as he told.

[2017-06-22 06:00] mahikaw commented on #182
@Princu7 Yes I had fixed these locally but it still doesn't work. I am fixing it currently 👍

[2017-06-22 08:53] mahikaw opened #184 "Updating MozillaAllHands16"
The current sample is incomplete in various aspects.

- [ ] Missing sessions and speakers need to be added.

- [ ] Images of some speakers along with their descriptions and sites need to be added.

[2017-06-22 09:08] niranjan94 commented on #184
@mahikaw very vague. please list out the parts that are incomplete

[2017-06-22 11:11] #180 closed

[2017-06-22 21:57] mariobehling opened #185 "Add Denelle Dixon to speakers and sessions "Denelle's All Org Team Session""
Please add  Denelle Dixon (https://twitter.com/denelledixon?lang=en) to all sessions named "Denelle's All Org Team Session".

[2017-06-24 05:18] arp95 opened #187 "Correct the sample files for Spark Event."
There seems to be some information missing regarding the spark event. Working on that.

[2017-06-24 07:58] arp95 commented on #187
@niranjan94 is it fine now?

[2017-06-24 10:47] arp95 commented on #187
@niranjan94 on the api change the samples wont change right?
For the android part we are changing the new api format to old one but does the web app do the same thing?

[2017-06-24 10:50] niranjan94 commented on #187
Samples will change. The new format is already being documented over here

https://github.com/fossasia/open-event/wiki/%5BNextgen%5D-Open-Event-Universal-Format-Specification

the documentation on that wiki maybe incorrect when in comes to field names. For correct field names see http://api.eventyay.com/

[2017-06-24 10:56] arp95 commented on #187
@niranjan94 @iamareebjamal

guys sorry i am bugging you but i am a little confused.
So we were working in the android project to provide support for the old api where we were planning to change the new api to old one via annotation processor. We did this because we wanted to provide support for the zips in the android generator right?
So if in the android project we are working to maintain the old

[2017-06-25 09:38] arp95 commented on #187
@niranjan94
please clear this thing. Everyone is confused about this thing right now.

[2017-06-29 13:20] mahikaw opened #188 "Sample for PyCon 2017"
Create a sample for PyCon 2017 https://us.pycon.org/2017/

[2017-06-29 13:49] mahikaw commented on #163
Solved in #148

[2017-06-29 13:49] mahikaw commented on #163
Solved in #148

[2017-06-29 13:49] #163 closed

[2017-06-29 13:50] mahikaw commented on #162
Solved in #145

[2017-06-29 13:50] #162 closed

[2017-06-29 13:50] mahikaw commented on #138
Has been resolved in one of the commits.

[2017-06-29 13:50] #138 closed

[2017-06-29 13:53] mahikaw commented on #142
Resolves via #144

[2017-06-29 13:53] #142 closed

[2017-06-29 13:55] mahikaw commented on #182
Resolved via #183 @Princu7 You can close this issue now 👍

[2017-06-29 13:55] mahikaw commented on #167
Resolved via #168

[2017-06-29 13:55] #167 closed

[2017-06-29 14:50] #182 closed

[2017-06-29 16:41] Princu7 commented on #177
@arp95 Hi. There are some still blank lines removing due to which the generation of the app is failing. Please look into it. Thanks :)

[2017-06-30 18:14] arp95 commented on #177
@Princu7
the google io is working fine right?
spark one i will work when google io is merged.

[2017-07-02 06:27] arp95 opened #190 "change all the conflicting attribute names of new api with old api"
Will be changing all the conflicting attribute names of all samples merged till now which have conflciting attribute names.

All of the attribute names of new api which have conflicts with the old api are given in these docs:
https://docs.google.com/document/d/1caaCeOOTIxQn2HR1Uj9r-cHXQH5hSYzzzCJpt3rkl38/edit

[2017-07-06 10:39] Princu7 commented on #184
Please see  the following issues

*  Some of the dates are in incorrect format. Like one of them is mentioned like this 2016-12-09T017:00:00 which is incorrect.
*  Also, the event dates are from 05 to 09 but some sessions have their timing on 10 which is wrong.

Please correct them so they can be included on the showcase site.

[2017-07-06 10:42] Princu7 commented on #187
@arp95 The JSON files present in the zip of the event have some problem (probably extra lines or something of this type) due to which they are not able to generate on the webapp. It throws an invalid zip error. Could you please take a look at it so that it can be showcased on the example event site on http://sched.eventyay.com. Thank you so much :)

[2017-07-07 08:13] shreyasnbhat opened #193 "Error in Apk generated from BASE_URL in config.json"
I am building an script to generate apks of different sample via travis. As of now the only apk in the apk branch is of the fossasia17 sample. Now we are going to have multiple sample apks in the apk branch after each build.

The Google I/O 2016 version gave me several errors.
![87ce27b1-116a-4705-90bf-7c9a1773269b](https://user-images.githubusercontent.com/19890557/27948904-254215f0-6319-11e7-8b8

[2017-07-07 13:15] iamareebjamal commented on #193
This is because a new line is used without `\n`

[code]

You can add lenient parsing by
[code]
in the app

[2017-07-07 18:55] mahikaw opened #195 "Write scripts to create samples"
Create scripts (preferably, in Python) to automate the process of creating samples to some extent.

[2017-07-13 05:11] heysadboy commented on #56
@mariobehling @the-dagger Added support to Giggity, find the merged pull request here https://github.com/Wilm0r/giggity/pull/15 . Should we close this issue?

[2017-07-13 05:23] #56 closed

[2017-07-13 17:29] arp95 commented on #190
@Princu7
can you please confirm the script of models over here:
https://github.com/arp95/script_for_samples

so that i can send a pr for all samples at once then.
Thanks!

[2017-07-13 18:45] mahikaw opened #197 "Sample for RedHat Summit 2017"
Create a sample for RedHat Summit 2017 https://www.redhat.com/en/summit/2017

[2017-07-16 18:40] arp95 commented on #190
@iamareebjamal @Shailesh351 @shreyasnbhat @rohanagarwal94
can you guys please review my script so that all the samples be updated at one go instead of individually reviewing them?

Link: https://github.com/arp95/script_for_samples

[2017-07-16 21:15] iamareebjamal commented on #190
@arp95 It'll be really easy if you just map the old and new attributes one to one using a tuple or dict and perform all these operations in a loop instead of manually repeating same tasks

[2017-07-17 04:03] arp95 commented on #190
yes @iamareebjamal that would be good.
but as the scripts are already made dont you think it is better to see them like this.

[2017-07-22 09:31] mahikaw opened #199 "Sample for DroidCon 2017"
Create Sample for DroidCon Boston 2017 http://www.droidcon-boston.com

[2017-07-22 10:38] arp95 opened #201 "Sample for Udacity Intersect 2017"
Create Sample for Udacity Intersect 2017 (https://www.udacity.com/intersect)

[2017-07-22 10:43] arp95 opened #202 "Sample for Apple WWDC 2017"
Create Sample for Apple WWDC 2017 (https://developer.apple.com/wwdc/)

[2017-08-04 06:44] sch00lb0y opened #203 "Implement Yaydoc generate documentation"
add the following as subproject to the `open-event` to generate documentation and push to GitHub Pages
Sub projects:
    - `open-event-orga-server`
    - `open-event-frontend`
    - `open-event-android`
    - `open-event-webapp`
    - `open-event-orga-app`

[2017-08-09 09:30] #203 closed

[2017-08-25 06:20] Princu7 opened #205 "Update all the samples according to the new API specifications [ On Hold ]"
The samples in the repo have become inconsistent. [Mozilla All Hands 2017](https://github.com/fossasia/open-event/pull/191/files) and [FOSSASIA 2016](https://github.com/fossasia/open-event/commit/77783374aca8b9cc2849484564dbd9cab54aff37) are using the new attributes as defined by the new API specifications while the other events are using the old attributes. Since we are removing support for the o

[2017-08-25 08:49] mariobehling commented on #205
Please ensure you take all samples into account:
* Droidcon17
* EhealthAfrica
* FBF817
* FOSSASIA10
* FOSSASIA11
* FOSSASIA14
* FOSSASIA15
* FOSSASIA16
* GoogleIO17
* MozillaAllHands16
* MozillaAllHands17
* OSCON17
* OTS16
* PyCon17
* RedHatSummit17
* SparkSummit17

[2017-08-25 08:49] mariobehling commented on #205
But: You can delete Ehealth Africa. No need anymore.

[2017-08-25 10:29] Princu7 commented on #205
On further thought, updating the samples right now would not be a good choice. It's because we still haven't completely migrated to the new API. Some of the events like NextCloud Conf are still on the old server and use the outdated attributes. So, if we update the samples and don't keep support for the old attributes, then the NextCloud Conf won't work and we won't be able to generate it. What we

[2017-08-27 13:16] #205 closed

[2017-09-01 17:41] CosmicCoder96 opened #216 "Fix small typo in Readme"
`maintainted` -> `maintained`

[2017-09-03 15:43] souravsingh commented on #202
I am interested in working on this

[2017-09-04 14:33] Princu7 opened #218 "Small issue in DroidCon Sample"
While generating a web app for the DroidCon 2017 Sample, images of some of the features speakers was not showing up. This is due to a small typo in the speakers JSON file which gave the incorrect extension of the image.

Here are the screenshots
![screenshot from 2017-09-04 20-03-04](https://user-images.githubusercontent.com/8847265/30030696-1b5e69d2-91ac-11e7-8a02-cb86ab98bbfd.png)

[2017-09-05 15:14] #216 closed

[2017-09-24 13:26] rupav commented on #201
@arp95  what exactly this is about. Please guide me. I would like to work on this.

[2017-09-24 15:41] mahikaw commented on #201
Hi @rupav
The issue is to create sample event data for Udacity Intersect 2017 according to the current Open Event format.
You can refer to other such samples [here](https://github.com/fossasia/open-event/tree/master/sample). Good Luck! 😄

[2017-09-25 13:42] rupav commented on #201
hi @mahikaw.
I was looking on FOSSASIA for this, found this on official site.
[https://blog.fossasia.org/creating-a-sample-event-web-app-using-the-open-event-framework/](url)

![2017-09-25 7](https://user-images.githubusercontent.com/20624380/30811224-33431c8a-a225-11e7-9a21-9c908e9b9ae2.png)

For the latest api in this, I clicked on site **'visit here**.
But site is not working.

![2017-09-25 6](

[2017-09-25 13:49] rupav commented on #201
just found you are the author of that post. :)

[2017-09-27 21:24] #218 closed

[2017-09-27 21:25] #199 closed

[2017-09-27 21:25] #197 closed

[2017-09-27 21:25] #195 closed

[2017-09-27 21:26] #185 closed

[2017-09-27 21:26] #188 closed

[2017-09-27 21:26] #190 closed

[2017-09-28 03:38] mdew192837 commented on #114
Is there a way to do this that is faster than manually doing it?

[2017-09-28 21:29] mdew192837 commented on #184
Where is the official history of the event? I can't seem to find it.

[2017-09-29 12:37] mish24 commented on #202
@arp95 I am working on this!

[2017-09-29 12:40] mish24 commented on #178
Claiming!

[2017-09-29 13:06] vaibhavsingh97 opened #220 "Application Error"
Currently website is down http://open-event-dev.herokuapp.com/
Screenshot:
![image](https://user-images.githubusercontent.com/8705386/31017093-e726ed46-a516-11e7-854a-f5321d2c8ff8.png)

**Yes, I would like to work on this issue**

[2017-09-29 13:07] vaibhavsingh97 commented on #201
@arp95 @mahikaw I would like to work on this issue

[2017-09-29 14:05] ayushgangrade commented on #169
Taking this up

[2017-09-29 14:05] ayushgangrade commented on #153
I'll update it in other samples then. Taking this

[2017-09-29 15:19] rupav commented on #201
Hi @vaibhavsingh97 I am already working on it :). @arp95 @mahikaw @vaibhavsingh97 will update you by Monday with the progress :).

[2017-09-29 16:39] vaibhavsingh97 commented on #201
@rupav ohk! 👍

[2017-09-29 18:15] shubham-padia commented on #220
Duplicate of https://github.com/fossasia/open-event-orga-server/issues/4497, there are people already working on that :smile:

[2017-09-29 18:15] #220 closed

[2017-09-30 10:00] rupav commented on #201
Hi @vaibhavsingh97 @arp95 @mahikaw I dont find its API to access data.
Do I Have to scrape using a python script ? I can do that, but seeing similar samples, say [https://github.com/fossasia/open-event/blob/master/sample/Droidcon17/sessions](url) , I would need all these attributes to fill. @vaibhavsingh97 I would like to collobarate with you if you like to do this. I am not sure if I can do this.

[2017-09-30 10:05] vaibhavsingh97 commented on #201
@rupav We have to scrap data using python scripts. I know web scrapping, i can collaborate to fix this issue. Can you please ping me on gitter to discuss further 😄

[2017-09-30 10:07] rupav commented on #201
Hi @vaibhavsingh97 I just pinged you on gitter :)

[2017-10-01 15:10] riktimmondal commented on #171
I am taking this up

[2017-10-01 15:24] riktimmondal commented on #176
Can you specify the file where i need to change the format ,i am not able to find it

[2017-10-01 15:26] riktimmondal commented on #147
Should i remove only the zip file from the root repository?

[2017-10-01 16:25] invinciblycool commented on #184
Opened a PR.
Let me know if any corrections are needed.

[2017-10-01 16:56] invinciblycool commented on #108
Taking this!
Had some doubts:
Are Eileen and Kiruthika two different persons?
Where to look for the information of people, sessions and speakers.
Thanks.

[2017-10-04 08:28] #184 closed

[2017-10-06 18:44] vaibhavsingh97 commented on #201
@arp95 I had scrapped the data, Do i need to upload script too?

[2017-10-06 18:52] vaibhavsingh97 commented on #202
@mish24 Are you working on this issue? Can i take this up?

[2017-10-08 17:56] invinciblycool opened #224 "Displaying a message after upload completes."
As of now no message is displayed upon completion of an upload of a zip.
It would be better, if a message is displayed maybe saying "Upload complete" to ensure that the upload has been finished and the button to Generate Webapp can be clicked.

[2017-10-08 18:05] shubham-padia commented on #224
@open-event-bot move to fossasia/open-event-webapp

[2017-10-08 18:06] shubham-padia commented on #224
Please open the issue in fossasia/open-event-webapp repository

[2017-10-08 18:06] #224 closed

[2017-10-08 18:09] invinciblycool commented on #224
Okay

[2017-10-08 20:37] ParthS007 commented on #202
I want to work on this issue? Can I collaborate with you @vaibhavsingh97 as I am new to this?

[2017-10-08 20:44] vaibhavsingh97 commented on #202
@ParthS007 sure!

[2017-10-15 19:27] Pisush commented on #169
@mariobehling you are the owner of the repo. I don't want to hijack issues, that's why I'm asking in advance -
some of the issues here seem pretty beginner friendly and can make a good starting point for beginners, however, most of the issues have one or more comment suggesting that the issue is taken. It's not assigned to anyone and I can't see any progress.
My question: it ok to contribute on th

[2017-11-04 14:16] agbilotia1998 opened #231 "Correct RedHatSummit17 sample."
Currently RedHatSummit17 sample is not able able to generate webapp using webapp generator.

[2017-11-05 09:12] agbilotia1998 opened #233 "Invalid speakers and sessions json in SparkSummit 17 sample."
Invalid characters found while webapp generator parses these jsons.

[2017-11-05 09:20] agbilotia1998 commented on #233
This is due to line spaces in some value of key.I am working on this.

[2017-11-05 18:36] agbilotia1998 opened #234 "Repository size too large."
Due to media files of various samples in this repository , the repository size have become around 700 MBs.
It becomes hard to clone and git pull or git fetch.

Fix: We can reduce the size of the media files. Or any such changes that we just put the zip files of the samples in this repository and change our app generation mechanism such that we provide it the url of the zip file of the sample,  it

[2017-11-06 13:43] agbilotia1998 commented on #234
@mariobehling I think we should create separate repository for each sample.

[2017-11-06 13:48] shubham-padia commented on #234
@mariobehling Instead of keeping all the sample and the zips in a single repository, a better option would be to move all the samples in their individual repositories. The only samples in the current repo would then be the the recent fossasia summits. URL to the individual repos can be kept in a seperate json in this repository for access to the open-event-webapp.

[2017-11-06 14:04] agbilotia1998 commented on #187
I am working on this.

[2017-11-07 14:01] geekyd commented on #234
Great suggestion by @shubham-padia distributing samples seems a good solution here. In addition to that we can compress the media files and reduce their size.

[2017-11-07 15:19] mariobehling commented on #234
This is valid, but it will make it difficult to follow up and disperse attention. Compressing the media files is probably the best approach as a first step. However, there need to be some changes when we generate a web app with the media files and I want to focus on this later. I think a priority in Open Event is to get the front-end ready before we focus on other things. Therefore I am closing th

[2017-11-07 15:19] #234 closed

[2017-11-08 16:14] agbilotia1998 opened #236 "Missing .gitignore file"
Add a .gitignore file.

[2017-11-13 16:25] #231 closed

[2017-11-13 16:41] agbilotia1998 commented on #236
Closing this as #232 is merged.

[2017-11-13 16:41] #236 closed

[2017-11-23 09:26] 0x48piraj opened #237 "Beautify the `README.md`"
- Add `Project Title` :heart:
- Link the `LICENSE.md` to `README.md` :heart:
- Fix wrong `logo-hyperlink-text` that is pointing to **Open Event Frontend** instead of pointing to **Open Event** :+1:
- Typo(s), If Any!
- Use *italics*, **bold** to prettify the `README.md` and highlight important points.

[2017-11-23 09:27] 0x48piraj commented on #237
On it ! :wink:

[2017-11-24 00:52] #237 closed

[2017-12-09 18:28] #233 closed

[2017-12-09 18:41] mariobehling opened #239 "Create an updated sample for the FOSSASIA Summits 2014 and 2015 as a zip and generated a sample website"
Please create an updated sample for the FOSSASIA Summits 2014 and 2015 as a zip and generated a sample website using https://webgen.eventyay.com/. Debug any issues and deploy the sample website on your own Github Pages.

Current error for the samples is:

`ERROR:Invalid ZipKnow More
TypeError: Cannot read property 'photo-url' of undefined`

[2017-12-09 19:06] marvin08 commented on #239
@mariobehling I want to work on this.

[2017-12-10 16:47] agbilotia1998 commented on #239
We can create websites for these samples once PR to support Old APIs gets merged.

[2017-12-11 12:41] ParthS007 commented on #239
working on it with @agbilotia1998  👍

[2017-12-16 12:40] Jigar3 opened #241 "Create an updated sample of SparkSumit17"
Updating the SparkSummit sample according to the new API

[2017-12-17 12:12] Jigar3 opened #243 "Droidcon Sample minor mistake"
In the speakers section, name of a speaker Todd Burman is repeated twice

[2017-12-17 21:15] #239 closed

[2017-12-19 03:15] naveentherocker opened #248 "New Logo for Eventyay"
The Site will look more beautiful with a Unique logo rather than with a Text Logo.

[2017-12-19 03:44] naveentherocker commented on #248
I am working on it :)

[2017-12-19 03:52] #248 closed

[2017-12-23 19:45] naveentherocker opened #249 "Fossasia Summit 2017 Speakers Link not updated"
Speakers Link to Fossasia Summit 2017 are not updated and Gender of Few are not added.

[2017-12-25 12:33] geekyd opened #251 "Update zip files of events"
The zip files are not updated they are not using the new api format.

Update all the zip files for the events

[2017-12-25 21:30] ParthS007 commented on #251
working on it 👍

[2017-12-27 15:06] ParthS007 commented on #251
@geekyd Is there any use of `GoogleIO17 2.zip` ?

[2017-12-27 15:50] geekyd commented on #251
Not sure. @mariobehling Do you know why we have two zips for `GoogleIO17`?

[2017-12-28 08:04] saarthakchats opened #254 "The JSON section is lacking multimedia assets for example - Videos and Images"
# Need to add Multimedia assets to JSON section.

## Open to work on

[2018-01-06 14:51] #249 closed

[2018-01-08 13:29] abishekvashok commented on #193
@iamareebjamal any updates on this?

[2018-01-08 19:43] iamareebjamal commented on #193
As reported above, the error was in the configuration of JSON parser. Using lenient parsing, this can be ignored. Another workaround is to not add hard line breaks in the JSON itself but it is rudimentary to enforce such restrictions

[2018-01-09 15:25] ParthS007 opened #256 "Change Fossasia samples to FOSSASIA Summit"
The Fossasia samples and overview page should use FOSSASIA Summit as text.

[2018-01-09 15:26] ParthS007 commented on #256
In reference to https://github.com/fossasia/open-event-webapp/issues/1610

[2018-01-12 19:02] 0x48piraj commented on #239
@mariobehling You have closed the Issue, and a GCI Task Instance is pointing to this issue. What to do ?

[2018-01-13 04:41] duttaditya18 commented on #256
@ParthS007 Can you tell me in detail what needs to be done?

[2018-01-13 07:03] 0x48piraj commented on #256
Close this @ParthS007
You solved this issue :100:

[2018-01-13 09:40] samyakbvs commented on #107
Claiming

[2018-01-13 12:12] samyakbvs commented on #107
PR - https://github.com/fossasia/open-event/pull/259

[2018-01-13 12:39] saarthakchats commented on #107
I am doing the rest of it. @samyakbvs has done half

[2018-01-14 04:38] Beta-King opened #260 "Add social links !!"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

the 'connect with us' section is empty

**Expected behavior:**

the 'connect with us' section filled with social links

**Steps

[2018-01-21 13:10] bhaveshAn opened #261 "Replace open-event-orga-server with open-event-server"
There is a need to replace all occurences of open-event-orga-server with open-event-server

**Yes, I wanna work on this issue**

[2018-01-22 20:49] #256 closed

[2018-01-22 20:51] ParthS007 opened #263 "Update Ehealth Africa Sample"
There is some typo : `starta_at` in place of `starts_at`
Working on it .

[2018-01-23 13:18] agbilotia1998 opened #266 "Invalid Date error in sample."
Mozilla Hands sample 2016 is giving invalid date error.

[2018-02-02 23:36] #261 closed

[2018-02-04 10:03] mayank8318 opened #267 "No FAQs in the samples"
None of the sample json files has an FAQ file. I am working on the open-event-android app and I needed sample FAQs in reference to https://github.com/fossasia/open-event-android/issues/2284

[2018-03-05 05:53] dhirajj75 commented on #260
Can I get the links of social pages

[2018-03-31 03:27] #266 closed

[2018-03-31 03:28] #263 closed

[2018-05-20 07:17] agbilotia1998 opened #269 "Update Fossasia Summit 17 sample."
The FOSSASIA Summit 2017 sample does not contain Video URLs, it needs to be updated.

[2018-05-20 12:46] geekyd opened #271 "Add sample for FOSSASIA Summit 2018"
Add the sample for FOSSASIA Summit 2018 to the repository along with the zip file for the same.

[2018-05-21 15:56] #269 closed

[2018-06-11 16:41] agbilotia1998 opened #272 "Field values interchanged in sample"
Bug: GoogleIO 2017 sample has the value of `audio-url` replaced with `level` field.

[2018-06-11 18:51] #272 closed

[2018-06-11 18:52] #271 closed

[2018-06-17 10:15] srv-twry opened #275 "Typo in description of discount code in dev handbook"
There are couple of typos in the description of discount code in dev handbook.

[2018-06-17 11:39] schedutron commented on #275
Actually there are 3.

[2018-06-17 13:09] #275 closed

[2018-06-23 11:45] srv-twry opened #278 "[dev-handbook] Add some information about the soft deletion support"
Currently the devs aren't aware about the soft deletion support of the server and how to utilize it. A section about it in the devs-handbook would be great.

Will work on this after I am done implementing it completely on the server.

[2018-07-01 03:38] Masquerade0097 opened #280 "Typo in Attendee Description"
In the Attendee Description,

`A pdf with a single ticket will be available her on successful order completion.`

should be replaced by

`A pdf with a single ticket will be available here on successful order completion. `

[2018-07-06 16:15] agbilotia1998 opened #282 "Fix OTS16 sample"
The OTS16 sample is not being generated by the web app generator.

[2018-07-07 12:40] #177 closed

[2018-07-07 13:15] agbilotia1998 commented on #241
Can be closed, fixed with #281

[2018-07-07 13:15] agbilotia1998 commented on #178
Can be closed, fixed with #281

[2018-07-09 20:19] #280 closed

[2018-07-10 21:36] #282 closed

[2018-07-11 04:08] agbilotia1998 opened #284 "Collision of event names in OTS16 and OTS17"

[2018-07-28 03:42] agbilotia1998 opened #287 "Add OSCAL Summit 2017 sample."
Currently, OSCAL 2017 summit sample is not present.

[2018-08-04 02:54] #287 closed

[2018-08-08 16:16] agbilotia1998 opened #289 "Add OTS18 sample"
Currently, OTS 18 sample is not added.

[2018-08-09 01:35] #289 closed

[2018-08-31 20:41] jamessandy commented on #260
hello guys can i fix this issue

[2018-09-12 16:58] Ananthavijay commented on #95
@mariobehling could u describe more about this?

[2018-09-12 17:11] Ananthavijay commented on #164
Where should i add the pics @arp95 ?

[2018-09-16 14:29] tabesin commented on #260
First please fix the ticket above.

Second check if social link functionality is already implemented and if the task is actually about dummy default data for demo or devel sites.

[2018-09-30 07:52] #176 closed

[2019-01-18 06:35] jogendra opened #293 "Add Open Event Orga iOS App to the README"
We have started a new component of the Open Event ecosystem, **Open Event Orga iOS**. Relevant info should be added to the README under _Components of Open Event Ecosystem_ section.

[2019-01-29 17:48] #293 closed

[2019-08-23 14:42] leela52452 opened #295 "perhaps typos in source strings mentioned in comments of weblate"
please look into two links
[typo1](https://hosted.weblate.org/translate/open-event/organizer-server/hi/?checksum=9824976bac8aa764)
[typo2](https://hosted.weblate.org/translate/open-event/organizer-server/hi/?checksum=c09b251776e8fd1f)

if they are correct, i would like to provide pull request. which option should i use ?

option 1
create issue for each typo & provide pull request

option 2
create

[2019-08-24 15:38] leela52452 commented on #295
updated in wrong repository.
correct repositiry: https://github.com/fossasia/open-event-orga-server.git
unfortunetly, simple file search did nit yield any results. perhaps removed files.

[2019-08-24 15:38] #295 closed

[2019-12-16 21:38] makoteq opened #296 "Add some fossasia links in footer"
I would like to add some fossasia links in footer 😄
**Im working on this**

[2019-12-17 19:00] Aaryan-kapur commented on #296
Can i  take this up?

[2019-12-17 19:00] Aaryan-kapur commented on #278
Can i  take this up?

[2019-12-17 19:01] Aaryan-kapur commented on #267
Can i  take this up?

[2019-12-17 19:01] Aaryan-kapur commented on #260
Can i  take this up?

[2019-12-17 19:01] Aaryan-kapur commented on #254
Can i  take this up?

[2019-12-17 19:01] Aaryan-kapur commented on #251
Can i  take this up?

[2019-12-17 19:01] Aaryan-kapur commented on #243
Can i  take this up?

[2019-12-17 19:02] Aaryan-kapur commented on #202
Can i  take this up??? i would love to be a helping hand!

[2019-12-17 19:03] Aaryan-kapur commented on #201
Can i  take this up??? i would love to be a helping hand!

[2019-12-17 19:03] Aaryan-kapur commented on #187
Can i  take this up??? i would love to be a helping hand!?

[2019-12-17 19:38] makoteq commented on #296
Sorry but i wrote that i take this task

[2019-12-19 12:30] #296 closed

[2020-01-16 15:45] airon90 opened #298 "API to get data"
Could you add free APIs in order to work with the platform: e.g. create and get events in a particular location

[2020-06-18 13:35] Ranjit1312 commented on #260
May I please take up this issue?

[2020-09-23 23:07] datapythonista opened #302 "Failing to add a url to a sponsor"
I'm adding a url to a sponsor in https://eventyay.com/events/<event-id>/edit/sponsors and the error "Not a valid url" is returned, and saving fails. I tried with different urls, including https://eventyay.com

Thanks!

[2020-09-23 23:15] datapythonista opened #303 "Event description loses links, line breaks..."
I created an event with links, line breaks... The event description edition provides buttons to add those, so they should be supported. But once I save the event, the links are lost. And when I view the event, the line breaks are not respected, and all the texts are shown one next to the other, in a single paragraph.

[2020-10-22 05:51] Aayush-hub commented on #260
can i take this issues?

[2020-10-22 06:02] Aayush-hub commented on #267
Can i be assigned this?

[2020-12-30 16:10] kapoorarpit commented on #169
@mariobehling I wanna work on this issue. Please assign this to me.

[2021-03-10 14:53] Varad-VK commented on #267
I would like to work on it, please assign it to me

[2021-12-18 11:58] Vivek-Prajapatii commented on #121
hey may i take this issue?